{% extends 'core/base.html' %}

{% block title %} Personals {% endblock %}

{% block subnav %}
    <div class="container" style="margin-top: 10px;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
                {% if user.is_superuser %}
                    <small>
                        <a href="{% url 'personals:weekly_personal_stats_new_manually' %}"><i class="fa fa-pencil fa-fw"></i> New Weekly Personal Performance </a>
                    </small>
                {% endif %}
            </div>
            <div class="col-xs-6 dropdown">
                {% if user.is_superuser or user.humanresource.manager %}
                    <button class="btn btn-primary dropdown-toggle pull-right" type="button" data-toggle="dropdown">Select Week Date <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                        {% for date in dates %}
                            <li><a href="#">{{ date }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <ul id="subnav-tabs" class="nav nav-tabs">
            {% if user.is_superuser %}
                {% for group in groups %}
                    <li{% if group == user.humanresource.functional_group %} class="active"{% endif %}><a href="#{{ group.abbreviation }}" data-toggle="tab">{{ group.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block badbody %}
    <div class="container">
        <div class="tab-content">
            {% for user_data in users %}
            {% ifchanged user_data.functional_group %}
                <div class="tab-pane{% if user.humanresource.functional_group == user_data.functional_group %} active{% endif %}" id="{{ user.functional_group.abbreviation }}">

            {% endifchanged %}
            {% endfor %}
        </div>
    <.div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="tab-content">
            {% for group in groups %}
                <div class="tab-pane{% if group == user.humanresource.functional_group %} active{% endif %}" id="{{ group.abbreviation }}">
                    <ul id="subnav-pills" class="nav nav-pills">
                        <li class="active"><a href="#{{ group.abbreviation }}-all" data-toggle="pill">All</a></li>
                        {% for subteam in group.subteam_set.all %}
                            <li><a href="#{{ subteam.name|slugify }}" data-toggle="pill">{{ subteam.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% include 'personals/team.html' %}
                </div>
            {% endfor %}
            <div class="tab-pane" id="quality_assurance">
                {% include 'personals/quality_assurance.html' %}
            </div>

            <div class="tab-pane" id="quality_innovation">
                {% include 'personals/quality_innovation.html' %}
            </div>

            <div class="tab-pane" id="requirements_engineering">
                {% include 'personals/requirements_engineering.html' %}
            </div>

            <div class="tab-pane" id="test_engineering">
                {% include 'personals/test_engineering.html' %}
            </div>

            <div class="tab-pane" id="test_lab">
                {% include 'personals/test_lab.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        {% include 'personals/personals.js' %}
    </script>
{% endblock %}
