{% extends 'core/base.html' %}

{% block title %} Personal Status{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ personal_stat.human_resource.user.first_name }} {{ personal_stat.human_resource.user.last_name }}, Personal Status - {{ personal_stat.created|date }}</h2>
        <br>
        <form action="{% url 'personals:personal_stats_edit' personal_stat.id %}?key={{ personal_stat.human_resource.functional_group.key }}" method="post">
            <div class="row">
                <div class="col-sm-6">
                    {% for field in form %}
                        <div class="row">
                            <div class="col-sm-6"><label>{{ field.label_tag }}</label></div>
                            <div class="col-sm-6">{{ field }}</div>
                        </div>
                    {% endfor %}

                    <br>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <input id="personal_stat_edit" class="btn btn-primary" style="width: 100%" type="submit" value="Save Personal Stats">
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url 'personals:personals' %}" class="btn btn-default" style="width: 100%">Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% with key=personal_stat.human_resource.functional_group.key phase_count=personal_stat.phases_lead_count %}
                        {% if key in 'QA, TE' %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Phases Lead:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="gentle" value="{{ phase_count }}" disabled/>
                                </div>
                            </div>

                            {% if phase_count > 0 %}
                                <h5>Start Delays and Diff Durations (Business Days)</h5>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3"><label>Project</label></div>
                                    <div class="col-sm-3"><label>Phase</label></div>
                                    <div class="col-sm-2"><label>Start Delay</label></div>
                                    <div class="col-sm-2"><label>Diff Duration</label></div>
                                </div>
                                {%  for item in personal_stat.phase_delay_and_duration %}
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-3">{{ item.project }}</div>
                                        <div class="col-sm-3">{{ item.phase }}</div>
                                        <div {% if item.start_delay >= 0 %} class="col-sm-2" {% else %} class="col-sm-2 text-success" {% endif %}>{{ item.start_delay }}</div>
                                        <div {% if item.diff_duration >= 0 %} class="col-sm-2" {% else %} class="col-sm-2 text-success" {% endif %}>{{ item.diff_duration }}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Tickets Worked:</label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="gentle" value="{{ personal_stat.tickets_worked }}" disabled/>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            {% csrf_token %}
        </form>
    </div>
{% endblock %}