{% extends 'core/base.html' %}

{% block title %} Individuals {% endblock %}

{% block subnav %}
    <br><br>
    <div class="container">
        {% if user.is_superuser %}
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-xs-6">
                    <small>
                        <a href="#"><i class="fa fa-pencil fa-fw"></i> New Weekly Individual Metric </a>
                    </small>
                </div>
            </div>
        {% endif %}
        <ul id="subnav-tabs" class="nav nav-tabs">
            {% if user.is_superuser %}
                <li><a href="#product_quality" data-toggle="tab">Product Quality</a> </li>
                <li><a href="#quality_assurance" data-toggle="tab">Quality Assurance</a> </li>
                <li><a href="#quality_innovation" data-toggle="tab">Quality Innovation</a> </li>
                <li><a href="#requirements_engineering" data-toggle="tab">Requirements Engineering</a> </li>
                <li><a href="#test_engineering" data-toggle="tab">Test Engineering</a> </li>
                <li><a href="#test_lab" data-toggle="tab">Test Lab</a> </li>
            {% else %}
                {% if user.humanresource.functional_group.key == 'PQ' %}
                    <li><a href="#product_quality" data-toggle="tab">Product Quality</a> </li>
                {% elif user.humanresource.functional_group.key == 'QA' %}
                    <li><a href="#quality_assurance" data-toggle="tab">Quality Assurance</a> </li>
                {% elif user.humanresource.functional_group.key == 'QI' %}
                    <li><a href="#quality_innovation" data-toggle="tab">Quality Innovation</a> </li>
                {% elif user.humanresource.functional_group.key == 'RE' %}
                    <li><a href="#requirements_engineering" data-toggle="tab">Requirements Engineering</a> </li>
                {% elif user.humanresource.functional_group.key == 'TE' %}
                    <li><a href="#test_engineering" data-toggle="tab">Test Engineering</a> </li>
                {% elif user.humanresource.functional_group.key == 'TL' %}
                    <li><a href="#test_lab" data-toggle="tab">Test Lab</a> </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane" id="product_quality">
                {% include 'personals/product_quality.html' %}
            </div>

            <div class="tab-pane" id="quality_assurance">
                {% include 'personals/quality_assurance.html' %}
            </div>

            <div class="tab-pane" id="quality_innovation">
                {% include 'personals/quality_innovation.html' %}
            </div>

            <div class="tab-pane" id="requirements_engineering">
                {% include 'personals/requirements_engineering.html' %}
            </div>

            <div class="tab-pane" id="test_engineering">
                {% include 'personals/test_engineering.html' %}
            </div>

            <div class="tab-pane" id="test_lab">
                {% include 'personals/test_lab.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        {% include 'personals/personals.js' %}
    </script>
{% endblock %}