{% extends 'core/base.html' %}
{% load team_extras %}

{% block title %} Quality Innovation Metric {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{ metric.functional_group.name }}{% if metric.subteam.name != 'Unified'%} - {{ metric.subteam.name }}{% endif %}, {{ metric.created|date:'Y-m-d' }}</h2>
            </div>
            <div class="col-sm-2">
                <br>
                <input id="collect_data_key" value="{{ metric.functional_group.abbreviation }}" hidden>
                <input id="collect_data_date" value="{{ metric.created|date:'Y-m-d' }}" hidden>
                {% if metric.subteam %}
                    <input id="collect_data_button" class="btn btn-primary" style="width:100%;" type="button" value="Collect Data">
                {% endif %}
            </div>
        </div>
        <form action="{% url 'teams:metric_edit' metric.id %}?key={{ metric.functional_group.abbreviation }}" method="post">
            <input name="subteam" value="{{ metric.subteam.id }}" type="hidden">
            {% if metric.functional_group.key == 'TL' %}  <!-- Test Lab separate-->
                <legend style="margin-top: 30px;">Human Resource</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Staffs</label></div>
                    <div class="col-sm-2"><label>Openings</label></div>
                    <div class="col-sm-2"><label>Contractors</label></div>
                    <div class="col-sm-2"><label>Compliments</label></div>
                    <div class="col-sm-2"><label>Complaints</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">{{ form.staffs }}</div>
                    <div class="col-sm-2">{{ form.openings }}</div>
                    <div class="col-sm-2">{{ form.contractors }}</div>
                    <div class="col-sm-2">
                        <input id="id_compliments" name="compliments"
                            {% if automation_data.compliments %} value="{{ automation_data.compliments }}" class="gentle" {% else %} value="{{ metric.compliments }}" {% endif %}>
                    </div>
                    <div class="col-sm-2">
                        <input id="id_complaints" name="complaints"
                            {% if automation_data.complaints %} value="{{ automation_data.complaints }}" class="gentle" {% else %} value="{{ metric.complaints }}" {% endif %}>
                    </div>
                </div>
                <legend style="margin-top: 30px;">Throughput</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Tickets Received</label></div>
                    <div class="col-sm-2"><label>Tickets Closed</label></div>
                    <div class="col-sm-2"><label>Virtual Machines</label></div>
                    <div class="col-sm-2"><label>Physical Machines</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input id="id_tickets_received" name="tickets_received"
                            {% if automation_data.tickets_received%}
                               value="{{ automation_data.tickets_received}}" class="gentle"
                            {% else %}
                               value="{{ metric.tickets_received}}"
                            {% endif %}>
                    </div>
                    <div class="col-sm-2">{{ form.tickets_closed }}</div>
                    <div class="col-sm-2">
                        <input id="id_virtual_machines" name="virtual_machines"
                            {% if automation_data.virtual_machines%}
                               value="{{ automation_data.virtual_machines}}" class="gentle"
                            {% else %}
                               value="{{ metric.virtual_machines}}"
                            {% endif %}>
                    </div>
                    <div class="col-sm-2">
                        <input id="id_physical_machines" name="physical_machines"
                            {% if automation_data.physical_machines%}
                               value="{{ automation_data.physical_machines}}" class="gentle"
                            {% else %}
                               value="{{ metric.physical_machines}}"
                            {% endif %}>
                    </div>
                </div>
                <legend style="margin-top: 30px;">Costs</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Power Consumption UPS A</label></div>
                    <div class="col-sm-2"><label>Power Consumption UPS A</label></div>
                    <div class="col-sm-2"><label>License Cost</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input id="id_power_consumption_ups_a" name="power_consumption_ups_a"
                            {% if automation_data.power_consumption_ups_a%}
                               value="{{ automation_data.power_consumption_ups_a}}" class="gentle"
                            {% else %}
                               value="{{ metric.power_consumption_ups_a}}"
                            {% endif %}>
                    </div>
                    <div class="col-sm-2">
                        <input id="id_power_consumption_ups_b" name="power_consumption_ups_b"
                            {% if automation_data.power_consumption_ups_b%}
                               value="{{ automation_data.power_consumption_ups_b}}" class="gentle"
                            {% else %}
                               value="{{ metric.power_consumption_ups_b}}"
                            {% endif %}>
                    </div>
                    <div class="col-sm-2">
                        <input id="id_license_cost" name="license_cost"
                            {% if automation_data.license_cost%}
                               value="{{ automation_data.license_cost}}" class="gentle"
                            {% else %}
                               value="{{ metric.license_cost}}"
                            {% endif %}>
                    </div>
                </div>
            {% else %} <!-- For QA, TE, RE, QI -->
                <legend style="margin-top: 30px;">Human Resource</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Staffs</label></div>
                    <div class="col-sm-2"><label>Openings</label></div>
                    <div class="col-sm-2"><label>Contractors</label></div>
                    <div class="col-sm-2"><label>Compliments</label></div>
                    <div class="col-sm-2"><label>Complaints</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">{{ form.staffs }}</div>
                    <div class="col-sm-2">{{ form.openings }}</div>
                    <div class="col-sm-2">{{ form.contractors }}</div>
                    <div class="col-sm-2">
                        <input id="id_compliments" name="compliments"
                            {% if automation_data.compliments %} value="{{ automation_data.compliments }}" class="gentle" {% else %} value="{{ metric.compliments }}" {% endif %}>
                    </div>
                    <div class="col-sm-2">
                        <input id="id_complaints" name="complaints"
                            {% if automation_data.complaints %} value="{{ automation_data.complaints }}" class="gentle" {% else %} value="{{ metric.complaints }}" {% endif %}>
                    </div>
                </div>

                <legend style="margin-top: 30px;">Throughput</legend>
                {% if metric.functional_group.key == 'QI' %}  <!-- Throughput -->
                    <div class="row">
                        <div class="col-sm-2"><label>Backlog Story</label></div>
                        <div class="col-sm-2"><label>Story Points Prep</label></div>
                        <div class="col-sm-2"><label>Story Points Execute</label></div>
                        <div class="col-sm-2"><label>Unit Tests Dev</label></div>
                        <div class="col-sm-2"><label>Unit Tests Cover</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_story_points_backlog" name="story_points_backlog"
                                {% if automation_data.story_points_backlog %}
                                   value="{{ automation_data.story_points_backlog }}" class="gentle"
                                {% else %}
                                   value="{{ metric.story_points_backlog }}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_story_points_prep" name="story_points_prep"
                                {% if automation_data.story_points_prep %}
                                   value="{{ automation_data.story_points_prep }}" class="gentle"
                                {% else %}
                                   value="{{ metric.story_points_prep }}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.story_points_execution }}</div>
                        <div class="col-sm-2">{{ form.unit_tests_dev }}</div>
                        <div class="col-sm-2">
                            <input id="id_unit_tests_coverage" name="unit_tests_coverage"
                                {% if automation_data.unit_tests_coverage %}
                                   value="{{ automation_data.unit_tests_coverage }}" class="gentle"
                                {% else %}
                                   value="{{ metric.unit_tests_coverage }}"
                                {% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Document Cover</label></div>
                        <div class="col-sm-2"><label>Defects in Dev</label></div>
                        <div class="col-sm-2"><label>Elicitation Analysis</label></div>
                        <div class="col-sm-2"><label>Revisions</label></div>
                        <div class="col-sm-2"><label>Active Projects</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_documentation_coverage" name="documentation_coverage"
                                {% if automation_data.documentation_coverage%}
                                   value="{{ automation_data.documentation_coverage}}" class="gentle"
                                {% else %}
                                   value="{{ metric.documentation_coverage}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_defects_in_dev" name="defects_in_dev"
                                {% if automation_data.defects_in_dev%}
                                   value="{{ automation_data.defects_in_dev}}" class="gentle"
                                {% else %}
                                   value="{{ metric.defects_in_dev}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.elicitation_analysis_time }}</div>
                        <div class="col-sm-2">
                            <input id="id_revisions" name="revisions"
                                {% if automation_data.revisions%}
                                   value="{{ automation_data.revisions}}" class="gentle"
                                {% else %}
                                   value="{{ metric.revisions}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_active_projects" name="active_projects"
                                {% if automation_data.active_projects%}
                                   value="{{ automation_data.active_projects}}" class="gentle"
                                {% else %}
                                   value="{{ metric.active_projects}}"
                                {% endif %}>
                        </div>
                    </div>
                {% elif metric.functional_group.key == 'RE' %}
                    <div class="row">
                        <div class="col-sm-2"><label>Backlog</label></div>
                        <div class="col-sm-2"><label>Active Projects</label></div>
                        <div class="col-sm-2"><label>Team Initiatives</label></div>
                        <div class="col-sm-2"><label>Elicitation Analysis</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_backlog" name="backlog"
                                {% if automation_data.backlog%}
                                   value="{{ automation_data.backlog}}" class="gentle"
                                {% else %}
                                   value="{{ metric.backlog}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_active_projects" name="active_projects"
                                {% if automation_data.active_projects%}
                                   value="{{ automation_data.active_projects}}" class="gentle"
                                {% else %}
                                   value="{{ metric.active_projects}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_team_initiative" name="team_initiative"
                                {% if automation_data.team_initiative %}
                                   value="{{ automation_data.team_initiative }}" class="gentle"
                                {% else %}
                                   value="{{ metric.team_initiative }}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.elicitation_analysis_time }}</div>
                    </div>
                {% else %}  <!-- For TE, QA -->
                    <div class="row">
                        <div class="col-sm-2"><label>Team Initiatives</label></div>
                        <div class="col-sm-2"><label>Tickets Backlog</label></div>
                        <div class="col-sm-2"><label>Tickets Prep</label></div>
                        <div class="col-sm-2"><label>Tickets Execution</label></div>
                        <div class="col-sm-2"><label>Tickets Closed</label></div>
                        <div class="col-sm-2"><label>Projects Backlog</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_team_initiative" name="team_initiative"
                                {% if automation_data.team_initiative %}
                                   value="{{ automation_data.team_initiative }}" class="gentle"
                                {% else %}
                                   value="{{ metric.team_initiative }}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_ticket_backlog" name="ticket_backlog"
                                {% if automation_data.ticket_backlog%}
                                   value="{{ automation_data.ticket_backlog}}" class="gentle"
                                {% else %}
                                   value="{{ metric.ticket_backlog}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_ticket_prep" name="ticket_prep"
                                {% if automation_data.ticket_prep%}
                                   value="{{ automation_data.ticket_prep}}" class="gentle"
                                {% else %}
                                   value="{{ metric.ticket_prep}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_ticket_execution" name="ticket_execution"
                                {% if automation_data.ticket_execution%}
                                   value="{{ automation_data.ticket_execution}}" class="gentle"
                                {% else %}
                                   value="{{ metric.ticket_execution}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_ticket_closed" name="ticket_closed"
                                {% if automation_data.ticket_closed%}
                                   value="{{ automation_data.ticket_closed}}" class="gentle"
                                {% else %}
                                   value="{{ metric.ticket_closed}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_project_backlog" name="project_backlog"
                                {% if automation_data.project_backlog%}
                                   value="{{ automation_data.project_backlog}}" class="gentle"
                                {% else %}
                                   value="{{ metric.project_backlog}}"
                                {% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Projects Prep</label></div>
                        <div class="col-sm-2"><label>Projects Execution</label></div>
                        <div class="col-sm-2"><label>Projects Closed</label></div>
                        <div class="col-sm-2"><label>Manual TCs Dev</label></div>
                        <div class="col-sm-2"><label>Manual TC Dev Time</label></div>
                        <div class="col-sm-2"><label>Manual Tcs Execution</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_project_prep" name="project_prep"
                                {% if automation_data.project_prep%}
                                   value="{{ automation_data.project_prep}}" class="gentle"
                                {% else %}
                                   value="{{ metric.project_prep}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_project_execution" name="project_execution"
                                {% if automation_data.project_execution%}
                                   value="{{ automation_data.project_execution}}" class="gentle"
                                {% else %}
                                   value="{{ metric.project_execution}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_project_closed" name="project_closed"
                                {% if automation_data.project_closed%}
                                   value="{{ automation_data.project_closed}}" class="gentle"
                                {% else %}
                                   value="{{ metric.project_closed}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.tc_manual_dev }}</div>
                        <div class="col-sm-2">{{ form.tc_manual_dev_time }}</div>
                        <div class="col-sm-2">{{ form.tc_manual_execution }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Auto TCs Dev</label></div>
                        <div class="col-sm-2"><label>Auto TCs Dev Time</label></div>
                        <div class="col-sm-2"><label>Auto Tcs Execution</label></div>
                        <div class="col-sm-2"><label>Auto Tcs ExecTime</label></div>
                        <div class="col-sm-2"><label>Manual Tcs ExecutTime</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.tc_auto_dev }}</div>
                        <div class="col-sm-2">{{ form.tc_auto_dev_time }}</div>
                        <div class="col-sm-2">{{ form.tc_auto_execution }}</div>
                        <div class="col-sm-2">{{ form.tc_auto_execution_time }}</div>
                        <div class="col-sm-2">{{ form.tc_manual_execution_time }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Auto Footprint Dev</label></div>
                        <div class="col-sm-2"><label>Auto Footprint Execut</label></div>
                        <div class="col-sm-2"><label>Avg Throughput</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_footprint_dev" title="AutoTCsDev /(ManualTCsDev + AutoTCsDev)"
                               {% if calculate_data %}
                                   value="{{ calculate_data.auto_footprint_dev_age|percentage_format }}"
                               {% else %}
                                   value="{{ metric.auto_footprint_dev_age|percentage_format }}"
                               {% endif %}disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_footprint_execution" title="AutoTCsExecution /(ManualTCsExecution + AutoTCsExecution)"
                               {% if calculate_data %}
                                   value="{{ calculate_data.auto_footprint_execution_age|percentage_format}}"
                               {% else %}
                                   value="{{ metric.auto_footprint_execution_age|percentage_format }}"
                               {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="avg_throughput" title="(ManualTCsDev + AutoTCsDev + ManualTCsExecution + AutoTCsExecution) / Staffs"
                               {% if calculate_data %}
                                   value="{{ calculate_data.avg_throughput|floatformat:2 }}"
                               {% else %}
                                   value="{{ metric.avg_throughput|floatformat:2 }}"
                               {% endif %} disabled/>
                        </div>
                    </div>
                {% endif %}

                <legend style="margin-top: 30px;">Quality</legend>
                {% if metric.functional_group.key == 'QI' %}  <!-- Quality QI-->
                    <div class="row">
                        <div class="col-sm-2"><label>SLAs Met</label></div>
                        <div class="col-sm-2"><label>Delays Intro Time</label></div>
                        <div class="col-sm-2"><label>SDIs not Prevented</label></div>
                        <div class="col-sm-4"><label>UAT Defects not Prevented</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_slas_met" name="slas_met"
                                {% if automation_data.slas_met%}
                                   value="{{ automation_data.slas_met}}" class="gentle"
                                {% else %}
                                   value="{{ metric.slas_met}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_delays_introduced_time" name="delays_introduced_time"
                                {% if automation_data.delays_introduced_time%}
                                   value="{{ automation_data.delays_introduced_time}}" class="gentle"
                                {% else %}
                                   value="{{ metric.delays_introduced_time}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_sdis_not_prevented" name="sdis_not_prevented"
                                {% if automation_data.sdis_not_prevented%}
                                   value="{{ automation_data.sdis_not_prevented}}" class="gentle"
                                {% else %}
                                   value="{{ metric.sdis_not_prevented}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-4">
                            <input id="id_uat_defects_not_prevented" name="uat_defects_not_prevented"
                                {% if automation_data.uat_defects_not_prevented%}
                                   value="{{ automation_data.uat_defects_not_prevented}}" class="gentle"
                                {% else %}
                                   value="{{ metric.uat_defects_not_prevented}}"
                                {% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Resource Swap</label></div>
                        <div class="col-sm-2"><label>Escalations</label></div>
                        <div class="col-sm-2"><label>Rework Intro Time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_resource_swap" name="resource_swap"
                                {% if automation_data.resource_swap%}
                                   value="{{ automation_data.resource_swap}}" class="gentle"
                                {% else %}
                                   value="{{ metric.resource_swap}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_escalations" name="escalations"
                                {% if automation_data.escalations%}
                                   value="{{ automation_data.escalations}}" class="gentle"
                                {% else %}
                                   value="{{ metric.escalations}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_rework_introduced_time" name="rework_introduced_time"
                                {% if automation_data.rework_introduced_time%}
                                   value="{{ automation_data.rework_introduced_time}}" class="gentle"
                                {% else %}
                                   value="{{ metric.rework_introduced_time}}"
                                {% endif %}>
                        </div>
                    </div>
                {% elif metric.functional_group.key == 'RE' %}  <!--Quality RE -->
                    <div class="row">
                        <div class="col-sm-2"><label>Revisions</label></div>
                        <div class="col-sm-2"><label>Rework Intro Time</label></div>
                        <div class="col-sm-2"><label>SLAs Met</label></div>
                        <div class="col-sm-2"><label>SLAs Missed</label></div>
                        <div class="col-sm-2"><label>Delays Intro Time</label></div>
                        <div class="col-sm-2"><label>Escalations</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.revisions }}</div>
                        <div class="col-sm-2">
                            <input id="id_rework_introduced_time" name="rework_introduced_time"
                                {% if automation_data.rework_introduced_time%}
                                   value="{{ automation_data.rework_introduced_time}}" class="gentle"
                                {% else %}
                                   value="{{ metric.rework_introduced_time}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_slas_met" name="slas_met"
                                {% if automation_data.slas_met%}
                                   value="{{ automation_data.slas_met}}" class="gentle"
                                {% else %}
                                   value="{{ metric.slas_met}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_slas_missed" name="slas_missed"
                                {% if automation_data.slas_missed%}
                                   value="{{ automation_data.slas_missed}}" class="gentle"
                                {% else %}
                                   value="{{ metric.slas_missed}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_delays_introduced_time" name="delays_introduced_time"
                                {% if automation_data.delays_introduced_time%}
                                   value="{{ automation_data.delays_introduced_time}}" class="gentle"
                                {% else %}
                                   value="{{ metric.delays_introduced_time}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.escalations }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Avg Throughput</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="avg_throughput" title="ActiveProjects + TeamInitiatives"
                                   value="{{ metric.avg_throughput|floatformat:2 }}" disabled/>
                        </div>
                    </div>
                {% else %}  <!--Quality QA, TE -->
                    <div class="row">
                        <div class="col-sm-2"><label>SLAs Met</label></div>
                        <div class="col-sm-2"><label>Delays Intro Time</label></div>
                        <div class="col-sm-2"><label>Defects Caught</label></div>
                        <div class="col-sm-3"><label>UAT defects not prevented</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_slas_met" name="slas_met"
                                {% if automation_data.slas_met%}
                                   value="{{ automation_data.slas_met}}" class="gentle"
                                {% else %}
                                   value="{{ metric.slas_met}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_delays_introduced_time" name="delays_introduced_time"
                                {% if automation_data.delays_introduced_time%}
                                   value="{{ automation_data.delays_introduced_time}}" class="gentle"
                                {% else %}
                                   value="{{ metric.delays_introduced_time}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.defect_caught }}</div>
                        <div class="col-sm-3">{{ form.uat_defects_not_prevented }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>SDIs not prevented</label></div>
                        <div class="col-sm-2"><label>Resource Swap</label></div>
                        <div class="col-sm-2"><label>Escalations</label></div>
                        <div class="col-sm-2"><label>Standards Violated</label></div>
                        <div class="col-sm-2"><label>Rework Intro Time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_sdis_not_prevented" name="sdis_not_prevented"
                                {% if automation_data.sdis_not_prevented%}
                                   value="{{ automation_data.sdis_not_prevented}}" class="gentle"
                                {% else %}
                                   value="{{ metric.sdis_not_prevented}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_resource_swap" name="resource_swap"
                                {% if automation_data.resource_swap%}
                                   value="{{ automation_data.resource_swap}}" class="gentle"
                                {% else %}
                                   value="{{ metric.resource_swap}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_escalations" name="escalations"
                                {% if automation_data.escalations%}
                                   value="{{ automation_data.escalations}}" class="gentle"
                                {% else %}
                                   value="{{ metric.escalations}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.standards_violated }}</div>
                        <div class="col-sm-2">
                            <input id="id_rework_introduced_time" name="rework_introduced_time"
                                {% if automation_data.rework_introduced_time%}
                                   value="{{ automation_data.rework_introduced_time}}" class="gentle"
                                {% else %}
                                   value="{{ metric.rework_introduced_time}}"
                                {% endif %}>
                        </div>
                    </div>
                {% endif %}

                <legend style="margin-top: 30px;">Efficiency</legend>
                {% if metric.functional_group.key == 'QI' %}  <!-- Efficiency -->
                    <div class="row">
                        <div class="col-sm-2"><label>Average Team Size</label></div>
                        <div class="col-sm-2"><label>Overtime Weekday</label></div>
                        <div class="col-sm-2"><label>Overtime Weekend</label></div>
                        <div class="col-sm-2"><label>Average Throughput</label></div>
                        <div class="col-sm-2"><label>Rework Time</label></div>
                        <div class="col-sm-2"><label>Resource Swap time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_avg_team_size" name="avg_team_size"
                                {% if automation_data.avg_team_size%}
                                   value="{{ automation_data.avg_team_size}}" class="gentle"
                                {% else %}
                                   value="{{ metric.avg_team_size}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.overtime_weekday }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekend }}</div>
                        <div class="col-sm-2">
                            <input class="gentle" id="avg_throughput_qi" title="StoryPointsExecution / Staffs"
                                {% if calculate_data %}
                                   value="{{ calculate_data.avg_throughput|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.avg_throughput|floatformat:2 }}"
                                {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">{{ form.rework_time }}</div>
                        <div class="col-sm-2">
                            <input id="id_resource_swap_time" name="resource_swap_time"
                                {% if automation_data.resource_swap_time%}
                                   value="{{ automation_data.resource_swap_time}}" class="gentle"
                                {% else %}
                                   value="{{ metric.resource_swap_time}}"
                                {% endif %}>
                        </div>
                    </div>
                {% elif metric.functional_group.key == 'RE' %}
                    <div class="row">
                        <div class="col-sm-2"><label>Gross Available</label></div>
                        <div class="col-sm-2"><label>Efficiency</label></div>
                        <div class="col-sm-2"><label>Overtime Weekday</label></div>
                        <div class="col-sm-2"><label>Overtime Weekend</label></div>
                        <div class="col-sm-2"><label>Rework External</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="gross_available" title="Staffs * 30"
                                {% if calculate_data %}
                                   value="{{ calculate_data.gross_available_time|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.gross_available_time|floatformat:2 }}"
                                {% endif %}disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="id_efficiency" title="ElicitationAnalysis / GrossAvailable"
                                {% if calculate_data %}
                                   value="{{ calculate_data.efficiency|percentage_format }}"
                                {% else %}
                                   value="{{ metric.efficiency|percentage_format }}"
                                {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">{{ form.overtime_weekday }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekend }}</div>
                        <div class="col-sm-2">{{ form.rework_external_time }}</div>
                    </div>
                {% else %}  <!--Efficiency QA, TE -->
                    <div class="row">
                        <div class="col-sm-2"><label>Average Team Size</label></div>
                        <div class="col-sm-2"><label>Average TimeFrame</label></div>
                        <div class="col-sm-2"><label>Overtime Weekday</label></div>
                        <div class="col-sm-2"><label>Overtime Weekend</label></div>
                        <div class="col-sm-2"><label>Rework Time</label></div>
                        <div class="col-sm-2"><label>Resource Swap time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_avg_team_size" name="avg_team_size"
                                {% if automation_data.avg_team_size%}
                                   value="{{ automation_data.avg_team_size}}" class="gentle"
                                {% else %}
                                   value="{{ metric.avg_team_size}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_avg_time_frame" name="avg_time_frame"
                                {% if automation_data.avg_time_frame%}
                                   value="{{ automation_data.avg_time_frame}}" class="gentle"
                                {% else %}
                                   value="{{ metric.avg_time_frame}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">{{ form.overtime_weekday }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekend }}</div>
                        <div class="col-sm-2">{{ form.rework_time }}</div>
                        <div class="col-sm-2">{{ form.resource_swap_time }}</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2"><label>Active Tickets</label></div>
                        <div class="col-sm-2"><label>Active Projects</label></div>
                        <div class="col-sm-2"><label>AutoExec Time</label></div>
                        <div class="col-sm-2"><label>GrossAvai time</label></div>
                        <div class="col-sm-2"><label>Efficiency</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="active_tickets" title="TicketsPrep + TicketsExecution"
                                   value="{{ metric.active_tickets }}" disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="active_projects" title="ProjectsPrep + ProjectsExecution"
                                   value="{{ metric.active_projects }}" disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_and_execution_time" title="ManualTCsDevTime + ManualTCsExecutionTime + AutoTCsDevTime + AutoTCsExecutionTime"
                               {% if calculate_data %}
                                   value="{{ calculate_data.auto_and_execution_time|floatformat:2 }}"
                               {% else %}
                                   value="{{ metric.auto_and_execution_time|floatformat:2 }}"
                               {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="gross_available_time" title="(Staffs + Contractors) * 30"
                               {% if calculate_data %}
                                   value="{{ calculate_data.gross_available_time|floatformat:2 }}"
                               {% else %}
                                   value="{{ metric.gross_available_time|floatformat:2 }}"
                               {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="id_test_efficiency" title="AutoExecTime / GrossAvaiTime"
                               {% if calculate_data %}
                                   value="{{ calculate_data.efficiency|percentage_format }}"
                               {% else %}
                                   value="{{ metric.efficiency|percentage_format }}"
                               {% endif %} disabled/>
                        </div>
                    </div>
                {% endif %}

                <legend style="margin-top: 30px;">Costs</legend>
                {% if metric.functional_group.key == 'RE' %} <!-- Cost and Usage-->
                    <div class="row">
                        <div class="col-sm-2"><label>Travel Cost</label></div>
                        <div class="col-sm-2"><label>Operational Cost</label></div>
                        <div class="col-sm-2"><label>Rework External Cost</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.travel_cost }}</div>
                        <div class="col-sm-2">
                            <input class="gentle" id="operational_cost" title="(Staffs + Contractors) * 30 * 50"
                                {% if calculate_data %}
                                   value="{{ calculate_data.operational_cost|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.operational_cost|floatformat:2 }}"
                                {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="rework_external_cost" title="ReworkExternal * 50"
                                {% if calculate_data %}
                                   value="{{ calculate_data.rework_external_cost|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.rework_external_cost|floatformat:2 }}"
                                {% endif %} disabled/>
                        </div>
                    </div>
                {% elif metric.functional_group.key == 'QI' %} <!-- QI Cost and Usage -->
                    <div class="row">
                        <div class="col-sm-2"><label>License Cost</label></div>
                        <div class="col-sm-2"><label>Operational Cost</label></div>
                        <div class="col-sm-2"><label>Total Cost</label></div>
                        <div class="col-sm-2"><label>Other Savings</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_license_cost" name="license_cost"
                                {% if automation_data.license_cost%}
                                   value="{{ automation_data.license_cost}}" class="gentle"
                                {% else %}
                                   value="{{ metric.license_cost}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="operational_cost" title="(Staffs + Contractors) * 40 * 45"
                                {% if calculate_data %}
                                   value="{{ calculate_data.operational_cost|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.operational_cost|floatformat:2 }}"
                                {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="total_cost" title="LicenseCost + OperationalCost"
                                {% if calculate_data %}
                                   value="{{ calculate_data.total_cost|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.total_operational_cost }}"
                                {% endif %}disabled />
                        </div>
                        <div class="col-sm-2">
                            <input id="id_other_savings" name="other_savings"
                                {% if automation_data.other_savings%}
                                   value="{{ automation_data.other_savings}}" class="gentle"
                                {% else %}
                                   value="{{ metric.other_savings}}"
                                {% endif %}>
                        </div>
                    </div>
                    <!-- Usage -->
                    <legend style="margin-top: 30px;">Usage</legend>
                    <div class="row">
                        <div class="col-sm-2"><label>Pheme Manual Tests</label></div>
                        <div class="col-sm-2"><label>Pheme Auto Tests</label></div>
                        <div class="col-sm-2"><label>Visilog TXL Parsed</label></div>
                        <div class="col-sm-2"><label>Visilog TXL Violation</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_pheme_manual_tests" name="pheme_manual_tests"
                                {% if automation_data.pheme_manual_tests%}
                                   value="{{ automation_data.pheme_manual_tests}}" class="gentle"
                                {% else %}
                                   value="{{ metric.pheme_manual_tests}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_pheme_auto_tests" name="pheme_auto_tests"
                                {% if automation_data.pheme_auto_tests%}
                                   value="{{ automation_data.pheme_auto_tests}}" class="gentle"
                                {% else %}
                                   value="{{ metric.pheme_auto_tests}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_visilog_txl_parsed" name="visilog_txl_parsed"
                                {% if automation_data.visilog_txl_parsed%}
                                   value="{{ automation_data.visilog_txl_parsed}}" class="gentle"
                                {% else %}
                                   value="{{ metric.visilog_txl_parsed}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input id="id_visilog_txl_schema_violation" name="visilog_txl_schema_violation"
                                {% if automation_data.visilog_txl_schema_violation%}
                                   value="{{ automation_data.visilog_txl_schema_violation}}" class="gentle"
                                {% else %}
                                   value="{{ metric.visilog_txl_schema_violation}}"
                                {% endif %}>
                        </div>
                    </div>
                {% else %} <!-- QA, TE cost -->
                    <div class="row">
                        <div class="col-sm-2"><label>License Cost</label></div>
                        <div class="col-sm-2"><label>Operational Cost</label></div>
                        <div class="col-sm-2"><label>Total Cost</label></div>
                        <div class="col-sm-2"><label>Automation Savings</label></div>
                        <div class="col-sm-2"><label>Other Savings</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input id="id_license_cost" name="license_cost"
                                {% if automation_data.license_cost%}
                                   value="{{ automation_data.license_cost}}" class="gentle"
                                {% else %}
                                   value="{{ metric.license_cost}}"
                                {% endif %}>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="operational_cost" title="Staffs * HoursPerWeek * CostsPerHourPerStaff + Contractors * HoursPerWeek * CostsPerHourPerContractor"
                                {% if calculate_data %}
                                   value="{{ calculate_data.operational_cost|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.operational_cost|floatformat:2 }}"
                                {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="total_cost" title="LicenseCost + OperationalCost"
                                {% if calculate_data %}
                                   value="{{ calculate_data.total_cost|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.total_operational_cost }}"
                                {% endif %}disabled />
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_savings" title="AutoExecTime * CostPerHourPerStaff"
                                {% if calculate_data %}
                                   value="{{ calculate_data.auto_savings|floatformat:2 }}"
                                {% else %}
                                   value="{{ metric.auto_savings }}"
                                {% endif %}disabled />
                        </div>
                        <div class="col-sm-2">
                            <input id="id_other_savings" name="other_savings"
                                {% if automation_data.other_savings%}
                                   value="{{ automation_data.other_savings}}" class="gentle"
                                {% else %}
                                   value="{{ metric.other_savings}}"
                                {% endif %}>
                        </div>
                    </div>
                {% endif %}
            {% endif %}


            {% csrf_token %}
            {% if metric.subteam %}
                <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <input id="qi_edit" class="btn btn-primary" style="width: 100%;" type="submit" value="Save Metric">
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'teams:teams' %}" class="btn btn-default" style="width: 100%;">Cancel</a>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
    {% include 'teams/teams_modal.html' %}
{% endblock %}

{% block footer %}
    <script>
        {% include 'teams/metric_detail.js' %}
    </script>
{% endblock %}