{% extends 'core/base.html' %}
{% load team_extras %}

{% block title %} Quality Innovation Metric {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{ metric.functional_group.name }} Metric Detail - {{ metric.created|date }}</h2>
            </div>
            <div class="col-sm-2">
                <br>
                <input id="collect_data_key" value="{{ metric.functional_group.key }}" hidden>
                <input id="collect_data_date" value="{{ metric.created|date:'Y-m-d' }}" hidden>
                <input id="collect_data_button" class="btn btn-primary" style="width:100%;" type="button" value="Collect Data">
            </div>
        </div>
        <form action="{% url 'teams:metric_edit' metric.id %}?key={{ metric.functional_group.key }}" method="post">
            {% if metric.functional_group.key == 'TL' %}  <!-- Test Lab separate-->
                <legend style="margin-top: 30px;">Human Resource</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Staffs</label></div>
                    <div class="col-sm-2"><label>Openings</label></div>
                    <div class="col-sm-2"><label>Contractors</label></div>
                    <div class="col-sm-2"><label>Compliments</label></div>
                    <div class="col-sm-2"><label>Complaints</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">{{ form.staffs }}</div>
                    <div class="col-sm-2">{{ form.openings }}</div>
                    <div class="col-sm-2">{{ form.contractors }}</div>
                    <div class="col-sm-2">{{ form.compliments }}</div>
                    <div class="col-sm-2">{{ form.complaints }}</div>
                </div>
                <legend style="margin-top: 30px;">Throughput</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Tickets Received</label></div>
                    <div class="col-sm-2"><label>Tickets Closed</label></div>
                    <div class="col-sm-2"><label>Virtual Machines</label></div>
                    <div class="col-sm-2"><label>Physical Machines</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">{{ form.tickets_received }}</div>
                    <div class="col-sm-2">{{ form.tickets_closed }}</div>
                    <div class="col-sm-2">{{ form.virtual_machines }}</div>
                    <div class="col-sm-2">{{ form.physical_machines }}</div>
                </div>
                <legend style="margin-top: 30px;">Costs</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Power Consumption UPS A</label></div>
                    <div class="col-sm-2"><label>Power Consumption UPS A</label></div>
                    <div class="col-sm-2"><label>License Cost</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">{{ form.power_consumption_ups_a }}</div>
                    <div class="col-sm-2">{{ form.power_consumption_ups_b }}</div>
                    <div class="col-sm-2">{{ form.license_cost }}</div>
                </div>
            {% else %} <!-- For QA, TE, RE, QI -->
                <legend style="margin-top: 30px;">Human Resource</legend>
                <div class="row">
                    <div class="col-sm-2"><label>Staffs</label></div>
                    <div class="col-sm-2"><label>Openings</label></div>
                    <div class="col-sm-2"><label>Contractors</label></div>
                    <div class="col-sm-2"><label>Compliments</label></div>
                    <div class="col-sm-2"><label>Complaints</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">{{ form.staffs }}</div>
                    <div class="col-sm-2">{{ form.openings }}</div>
                    <div class="col-sm-2">{{ form.contractors }}</div>
                    <div class="col-sm-2">{{ form.compliments }}</div>
                    <div class="col-sm-2">{{ form.complaints }}</div>
                </div>

                <legend style="margin-top: 30px;">Throughput</legend>
                {% if metric.functional_group.key == 'QI' %}  <!-- Throughput -->
                    <div class="row">
                        <div class="col-sm-2"><label>Backlog Story</label></div>
                        <div class="col-sm-2"><label>Story Points Prep</label></div>
                        <div class="col-sm-2"><label>Story Points Execute</label></div>
                        <div class="col-sm-2"><label>Unit Tests Dev</label></div>
                        <div class="col-sm-2"><label>Unit Tests Cover</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.story_points_backlog }}</div>
                        <div class="col-sm-2">{{ form.story_points_prep }}</div>
                        <div class="col-sm-2">{{ form.story_points_execution }}</div>
                        <div class="col-sm-2">{{ form.unit_tests_dev }}</div>
                        <div class="col-sm-2">{{ form.unit_tests_coverage }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Document Cover</label></div>
                        <div class="col-sm-2"><label>Defects in Dev</label></div>
                        <div class="col-sm-2"><label>Elicitation Analysis</label></div>
                        <div class="col-sm-2"><label>Revisions</label></div>
                        <div class="col-sm-2"><label>Active Projects</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.documentation_coverage }}</div>
                        <div class="col-sm-2">{{ form.defects_in_dev }}</div>
                        <div class="col-sm-2">{{ form.elicitation_analysis_time }}</div>
                        <div class="col-sm-2">{{ form.revisions }}</div>
                        <div class="col-sm-2">{{ form.active_projects }}</div>
                    </div>
                {% elif metric.functional_group.key == 'RE' %}
                    <div class="row">
                        <div class="col-sm-2"><label>Backlog</label></div>
                        <div class="col-sm-2"><label>Active Projects</label></div>
                        <div class="col-sm-2"><label>Team Initiatives</label></div>
                        <div class="col-sm-2"><label>Elicitation Analysis</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.backlog }}</div>
                        <div class="col-sm-2">{{ form.active_projects }}</div>
                        <div class="col-sm-2">{{ form.team_initiative }}</div>
                        <div class="col-sm-2">{{ form.elicitation_analysis_time }}</div>
                    </div>
                {% else %}  <!-- For TE, QA -->
                    <div class="row">
                        <div class="col-sm-2"><label>Team Initiatives</label></div>
                        <div class="col-sm-2"><label>Tickets Backlog</label></div>
                        <div class="col-sm-2"><label>Tickets Prep</label></div>
                        <div class="col-sm-2"><label>Tickets Execution</label></div>
                        <div class="col-sm-2"><label>Tickets Closed</label></div>
                        <div class="col-sm-2"><label>Projects Backlog</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.team_initiative }}</div>
                        <div class="col-sm-2">{{ form.ticket_backlog }}</div>
                        <div class="col-sm-2">{{ form.ticket_prep }}</div>
                        <div class="col-sm-2">{{ form.ticket_execution }}</div>
                        <div class="col-sm-2">{{ form.ticket_closed }}</div>
                        <div class="col-sm-2">{{ form.project_backlog }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Projects Prep</label></div>
                        <div class="col-sm-2"><label>Projects Execution</label></div>
                        <div class="col-sm-2"><label>Projects Closed</label></div>
                        <div class="col-sm-2"><label>Manual TCs Dev</label></div>
                        <div class="col-sm-2"><label>Manual TC Dev Time</label></div>
                        <div class="col-sm-2"><label>Manual Tcs Execution</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.project_prep }}</div>
                        <div class="col-sm-2">{{ form.project_execution }}</div>
                        <div class="col-sm-2">{{ form.project_closed }}</div>
                        <div class="col-sm-2">{{ form.tc_manual_dev }}</div>
                        <div class="col-sm-2">{{ form.tc_manual_dev_time }}</div>
                        <div class="col-sm-2">{{ form.tc_manual_execution }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Auto TCs Dev</label></div>
                        <div class="col-sm-2"><label>Auto TCs Dev Time</label></div>
                        <div class="col-sm-2"><label>Auto Tcs Execution</label></div>
                        <div class="col-sm-2"><label>Auto Tcs ExecTime</label></div>
                        <div class="col-sm-2"><label>Manual Tcs ExecutTime</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.tc_auto_dev }}</div>
                        <div class="col-sm-2">{{ form.tc_auto_dev_time }}</div>
                        <div class="col-sm-2">{{ form.tc_auto_execution }}</div>
                        <div class="col-sm-2">{{ form.tc_auto_execution_time }}</div>
                        <div class="col-sm-2">{{ form.tc_manual_execution_time }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Auto Footprint Dev</label></div>
                        <div class="col-sm-2"><label>Auto Footprint Execut</label></div>
                        <div class="col-sm-2"><label>Avg Throughput</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_footprint_dev" title="AutoTCsDev /(ManualTCsDev + AutoTCsDev)"
                                   {% if calculate_data %}value="{{ calculate_data.auto_footprint_dev_age|percentage_format }}"{% else %}value="{{ metric.auto_footprint_dev_age|percentage_format }}" {% endif %}disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_footprint_execution" title="AutoTCsExecution /(ManualTCsExecution + AutoTCsExecution)"
                                   {% if calculate_data %}value="{{ calculate_data.auto_footprint_execution_age|percentage_format}}"{% else %}value="{{ metric.auto_footprint_execution_age|percentage_format }}" {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="avg_throughput" title="(ManualTCsDev + AutoTCsDev + ManualTCsExecution + AutoTCsExecution) / Staffs"
                                   {% if calculate_data %}value="{{ calculate_data.avg_throughput|floatformat:2 }}"{% else %}value="{{ metric.avg_throughput|floatformat:2 }}" {% endif %} disabled/>
                        </div>
                    </div>
                {% endif %}

                <legend style="margin-top: 30px;">Quality</legend>
                {% if metric.functional_group.key == 'QI' %}  <!-- Quality -->
                    <div class="row">
                        <div class="col-sm-2"><label>SLAs Met</label></div>
                        <div class="col-sm-2"><label>Delays Intro Time</label></div>
                        <div class="col-sm-2"><label>SDIs not Prevented</label></div>
                        <div class="col-sm-4"><label>UAT Defects not Prevented</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.slas_met }}</div>
                        <div class="col-sm-2">{{ form.delays_introduced_time }}</div>
                        <div class="col-sm-2">{{ form.sdis_not_prevented }}</div>
                        <div class="col-sm-4">{{ form.uat_defects_not_prevented }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Resource Swap</label></div>
                        <div class="col-sm-2"><label>Escalations</label></div>
                        <div class="col-sm-2"><label>Rework Intro Time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.resource_swap }}</div>
                        <div class="col-sm-2">{{ form.escalations }}</div>
                        <div class="col-sm-2">{{ form.rework_introduced_time }}</div>
                    </div>
                {% elif metric.functional_group.key == 'RE' %}
                    <div class="row">
                        <div class="col-sm-2"><label>Revisions</label></div>
                        <div class="col-sm-2"><label>Rework Intro Time</label></div>
                        <div class="col-sm-2"><label>SLAs Met</label></div>
                        <div class="col-sm-2"><label>SLAs Missed</label></div>
                        <div class="col-sm-2"><label>Delays Intro Time</label></div>
                        <div class="col-sm-2"><label>Escalations</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.revisions }}</div>
                        <div class="col-sm-2">{{ form.rework_introduced_time }}</div>
                        <div class="col-sm-2">{{ form.slas_met }}</div>
                        <div class="col-sm-2">{{ form.slas_missed }}</div>
                        <div class="col-sm-2">{{ form.delays_introduced_time }}</div>
                        <div class="col-sm-2">{{ form.escalations }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>Avg Throughput</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="avg_throughput" title="ActiveProjects + TeamInitiatives"
                                   value="{{ metric.avg_throughput|floatformat:2 }}" disabled/>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-2"><label>SLAs Met</label></div>
                        <div class="col-sm-2"><label>Delays Intro Time</label></div>
                        <div class="col-sm-2"><label>Defects Caught</label></div>
                        <div class="col-sm-3"><label>UAT defects not prevented</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.slas_met }}</div>
                        <div class="col-sm-2">{{ form.delays_introduced_time }}</div>
                        <div class="col-sm-2">{{ form.defect_caught }}</div>
                        <div class="col-sm-3">{{ form.uat_defects_not_prevented }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label>SDIs not prevented</label></div>
                        <div class="col-sm-2"><label>Resource Swap</label></div>
                        <div class="col-sm-2"><label>Escalations</label></div>
                        <div class="col-sm-2"><label>Standards Violated</label></div>
                        <div class="col-sm-2"><label>Rework Intro Time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.sdis_not_prevented }}</div>
                        <div class="col-sm-2">{{ form.resource_swap }}</div>
                        <div class="col-sm-2">{{ form.escalations }}</div>
                        <div class="col-sm-2">{{ form.standards_violated }}</div>
                        <div class="col-sm-2">{{ form.rework_introduced_time }}</div>
                    </div>
                {% endif %}

                <legend style="margin-top: 30px;">Efficiency</legend>
                {% if metric.functional_group.key == 'QI' %}  <!-- Efficiency -->
                    <div class="row">
                        <div class="col-sm-2"><label>Average Team Size</label></div>
                        <div class="col-sm-2"><label>Overtime Weekday</label></div>
                        <div class="col-sm-2"><label>Overtime Weekend</label></div>
                        <div class="col-sm-2"><label>Average Throughput</label></div>
                        <div class="col-sm-2"><label>Rework Time</label></div>
                        <div class="col-sm-2"><label>Resource Swap time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.avg_team_size }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekday }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekend }}</div>
                        <div class="col-sm-2">
                            <input class="gentle" id="avg_throughput_qi" title="StoryPointsExecution / Staffs"
                                    {% if calculate_data %} value="{{ calculate_data.avg_throughput|floatformat:2 }}" {% else %} value="{{ metric.avg_throughput|floatformat:2 }}" {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">{{ form.rework_time }}</div>
                        <div class="col-sm-2">{{ form.resource_swap_time }}</div>
                    </div>
                {% elif metric.functional_group.key == 'RE' %}
                    <div class="row">
                        <div class="col-sm-2"><label>Gross Available</label></div>
                        <div class="col-sm-2"><label>Efficiency</label></div>
                        <div class="col-sm-2"><label>Overtime Weekday</label></div>
                        <div class="col-sm-2"><label>Overtime Weekend</label></div>
                        <div class="col-sm-2"><label>Rework External</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="gross_available" title="Staffs * 30"
                                    {% if calculate_data %} value="{{ calculate_data.gross_available_time|floatformat:2 }}" {% else %} value="{{ metric.gross_available_time|floatformat:2 }}" {% endif %}disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="id_efficiency" title="ElicitationAnalysis / GrossAvailable"
                                    {% if calculate_data %} value="{{ calculate_data.efficiency|percentage_format }}" {% else %}value="{{ metric.efficiency|percentage_format }}" {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">{{ form.overtime_weekday }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekend }}</div>
                        <div class="col-sm-2">{{ form.rework_external_time }}</div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-2"><label>Average Team Size</label></div>
                        <div class="col-sm-2"><label>Average TimeFrame</label></div>
                        <div class="col-sm-2"><label>Overtime Weekday</label></div>
                        <div class="col-sm-2"><label>Overtime Weekend</label></div>
                        <div class="col-sm-2"><label>Rework Time</label></div>
                        <div class="col-sm-2"><label>Resource Swap time</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.avg_team_size }}</div>
                        <div class="col-sm-2">{{ form.avg_time_frame }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekday }}</div>
                        <div class="col-sm-2">{{ form.overtime_weekend }}</div>
                        <div class="col-sm-2">{{ form.rework_time }}</div>
                        <div class="col-sm-2">{{ form.resource_swap_time }}</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2"><label>Active Tickets</label></div>
                        <div class="col-sm-2"><label>Active Projects</label></div>
                        <div class="col-sm-2"><label>AutoExec Time</label></div>
                        <div class="col-sm-2"><label>GrossAvai time</label></div>
                        <div class="col-sm-2"><label>Efficiency</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <input class="gentle" id="active_tickets" title="TicketsPrep + TicketsExecution"
                                   value="{{ metric.active_tickets }}" disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="active_projects" title="ProjectsPrep + ProjectsExecution"
                                   value="{{ metric.active_projects }}" disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_and_execution_time" title="ManualTCsDevTime + ManualTCsExecutionTime + AutoTCsDevTime + AutoTCsExecutionTime"
                                   {% if calculate_data %}value="{{ calculate_data.auto_and_execution_time|floatformat:2 }}"{% else %}value="{{ metric.auto_and_execution_time|floatformat:2 }}" {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="gross_available_time" title="(Staffs + Contractors) * 30"
                                   {% if calculate_data %}value="{{ calculate_data.gross_available_time|floatformat:2 }}"{% else %}value="{{ metric.gross_available_time|floatformat:2 }}" {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="id_test_efficiency" title="AutoExecTime / GrossAvaiTime"
                                   {% if calculate_data %}value="{{ calculate_data.efficiency|percentage_format }}"{% else %}value="{{ metric.efficiency|percentage_format }}" {% endif %} disabled/>
                        </div>
                    </div>
                {% endif %}

                <legend style="margin-top: 30px;">Costs</legend>
                {% if metric.functional_group.key == 'RE' %} <!-- Cost and Usage-->
                    <div class="row">
                        <div class="col-sm-2"><label>Travel Cost</label></div>
                        <div class="col-sm-2"><label>Operational Cost</label></div>
                        <div class="col-sm-2"><label>Rework External Cost</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.travel_cost }}</div>
                        <div class="col-sm-2">
                            <input class="gentle" id="operational_cost" title="(Staffs + Contractors) * 30 * 50"
                                    {% if calculate_data %} value="{{ calculate_data.operational_cost|floatformat:2 }}" {% else %}value="{{ metric.operational_cost|floatformat:2 }}"{% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="rework_external_cost" title="ReworkExternal * 50"
                                    {% if calculate_data %} value="{{ calculate_data.rework_external_cost|floatformat:2 }}" {% else %}value="{{ metric.rework_external_cost|floatformat:2 }}"{% endif %} disabled/>
                        </div>
                    </div>
                {% elif metric.functional_group.key == 'QI' %} <!-- QI Cost and Usage -->
                    <div class="row">
                        <div class="col-sm-2"><label>License Cost</label></div>
                        <div class="col-sm-2"><label>Operational Cost</label></div>
                        <div class="col-sm-2"><label>Total Cost</label></div>
                        <div class="col-sm-2"><label>Other Savings</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.license_cost }}</div>
                        <div class="col-sm-2">
                            <input class="gentle" id="operational_cost" title="(Staffs + Contractors) * 40 * 45"
                                    {% if calculate_data %} value="{{ calculate_data.operational_cost|floatformat:2 }}" {% else %} value="{{ metric.operational_cost|floatformat:2 }}" {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="total_cost" title="LicenseCost + OperationalCost"
                                    {% if calculate_data %} value="{{ calculate_data.total_cost|floatformat:2 }}" {% else %} value="{{ metric.total_operational_cost }}" {% endif %}disabled />
                        </div>
                        <div class="col-sm-2">{{ form.other_savings }}</div>
                    </div>
                    <!-- Usage -->
                    <legend style="margin-top: 30px;">Usage</legend>
                    <div class="row">
                        <div class="col-sm-2"><label>Pheme Manual Tests</label></div>
                        <div class="col-sm-2"><label>Pheme Auto Tests</label></div>
                        <div class="col-sm-2"><label>Visilog TXL Parsed</label></div>
                        <div class="col-sm-2"><label>Visilog TXL Violation</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.pheme_manual_tests }}</div>
                        <div class="col-sm-2">{{ form.pheme_auto_tests }}</div>
                        <div class="col-sm-2">{{ form.visilog_txl_parsed }}</div>
                        <div class="col-sm-2">{{ form.visilog_txl_schema_violation }}</div>
                    </div>
                {% else %} <!-- QA, TE cost -->
                    <div class="row">
                        <div class="col-sm-2"><label>License Cost</label></div>
                        <div class="col-sm-2"><label>Operational Cost</label></div>
                        <div class="col-sm-2"><label>Total Cost</label></div>
                        <div class="col-sm-2"><label>Automation Savings</label></div>
                        <div class="col-sm-2"><label>Other Savings</label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">{{ form.license_cost }}</div>
                        <div class="col-sm-2">
                            <input class="gentle" id="operational_cost" title="Staffs * HoursPerWeek * CostsPerHourPerStaff + Contractors * HoursPerWeek * CostsPerHourPerContractor"
                                    {% if calculate_data %} value="{{ calculate_data.operational_cost|floatformat:2 }}" {% else %} value="{{ metric.operational_cost|floatformat:2 }}" {% endif %} disabled/>
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="total_cost" title="LicenseCost + OperationalCost"
                                    {% if calculate_data %} value="{{ calculate_data.total_cost|floatformat:2 }}" {% else %} value="{{ metric.total_operational_cost }}" {% endif %}disabled />
                        </div>
                        <div class="col-sm-2">
                            <input class="gentle" id="auto_savings" title="AutoExecTime * CostPerHourPerStaff"
                                    {% if calculate_data %} value="{{ calculate_data.auto_savings|floatformat:2 }}" {% else %} value="{{ metric.auto_savings }}" {% endif %}disabled />
                        </div>
                        <div class="col-sm-2">{{ form.other_savings }}</div>
                    </div>
                {% endif %}
            {% endif %}


            {% csrf_token %}
            <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <input id="qi_edit" class="btn btn-primary" style="width: 100%;" type="submit" value="Save Metric">
                </div>
                <div class="col-md-2">
                    <a href="{% url 'teams:teams' %}" class="btn btn-default" style="width: 100%;">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    {% include 'teams/teams_modal.html' %}
{% endblock %}

{% block footer %}
    <script>
        {% include 'teams/metric_detail.js' %}
    </script>
{% endblock %}