{% load staticfiles %}
{% load team_extras %}

{% block headscript %}

    <style>

        #qi_dnd_div {
            width: 200px;
            height: 25px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

    </style>


{% endblock headscript %}

<div class="tab-content" id="qi-content">

    {% if qis %}
        <div class="table-responsive">
            <table id="quality_innovation_table" class="table table-striped table-hover table-condensed table-bordered">
                <thead>
                <tr id="qi_th_r1">
                    <th class="col-md-3"><strong>Date</strong></th>
                    <th class="col-md-3"><strong>Staffs</strong></th>
                    <th class="col-md-2"><strong>Backlog Story</strong></th>
                    <th class="col-md-2"><strong>Avg Team Size</strong></th>
                    <th class="col-md-2"><strong>Total Costs</strong></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>YTD Average</strong></td>
                        <td>{{ qis_ytd.staffs.avg|floatformat:2 }}</td>
                        <td>{{ qis_ytd.story_points_backlog.avg|floatformat:2 }}</td>
                        <td>{{ qis_ytd.avg_team_size.avg|floatformat:2 }}</td>
                        <td>{{ qis_ytd.total_operational_cost.avg|prepend_dollars }}</td>
                    </tr>
                    <tr>
                        <td><strong>YTD Totals</strong></td>
                        <td>{{ qis_ytd.staffs.total }}</td>
                        <td>{{ qis_ytd.story_points_backlog.total }}</td>
                        <td>{{ qis_ytd.avg_team_size.total }}</td>
                        <td>{{ qis_ytd.total_operational_cost.total|prepend_dollars }}</td>
                    </tr>
                    {% for item in qis %}
                        <tr>
                            <td><a href="{% url 'teams:metric_detail' item.id %}?key={{ item.functional_group.key }}">{{ item.created|date:'Y-m-d' }}</a></td>
                            <td draggable="true" ondragstart="drag(event)">{{ item.staffs }}</td>
                            <td draggable="true" ondragstart="drag(event)">{{ item.story_points_backlog }}</td>
                            <td draggable="true" ondragstart="drag(event)">{{ item.avg_team_size }}</td>
                            <td draggable="true" ondragstart="drag(event)">{{ item.total_operational_cost|prepend_dollars }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <section>
                <div id="qi_dnd_div" class="dnd_button_div" ondrop="drop(event)" ondragover="allow_drop(event)">
                    Drag a Table Cell Here
                </div>
            </section>
        </div>

        <br>

        <div class="container west_container">
            <section>
                <div class="dataTables_wrapper no-footer table-responsive">
                    <div class="dataTables_scroll">
                        <table class="chart_table">
                            <tr id="qi_chart_row"></tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>

    {% else %}
        No Contents
    {% endif %}

</div>

{% block endscript %}

    <script type="text/javascript">

        var quality_innovation_next_chart_id = 0;
        var quality_innovation_dnd_charts_list = [];
        var quality_innovation_all_column_names_list = [];


        (function () {

            $(document).ready(function () {
                add_ids_to_teams_table("quality_innovation_table");
                build_column_names_list("quality_innovation_table", quality_innovation_all_column_names_list);
            });

        })(jQuery);

    </script>

{% endblock %}

