<div class="tab-content" id="qi-content">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-8">
            <small>
                <i class="fa fa-pencil fa=lg"></i><a href="{% url 'teams:qi_new' %}" > Add a New Metric</a>
            </small>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <td class="col-md-3"><strong>Date</strong></td>
                    <td class="col-md-3"><strong>Staffs</strong></td>
                    <td class="col-md-2"><strong>Backlog Story</strong></td>
                    <td class="col-md-2"><strong>Avg Team Size</strong></td>
                    <td class="col-md-2"><strong>Total Costs</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for qi in qis %}
                    <tr>
                        <td><a href="{% url 'teams:qi_detail' qi.id %}">{{ qi.created }}</a></td>
                        <td>{{ qi.staffs }}</td>
                        <td>{{ qi.story_points_backlog }}</td>
                        <td>{{ qi.avg_team_size }}</td>
                        <td>{{ qi.total_operational_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

