{% load staticfiles %}
{% load team_extras %}

{% block headscript %}

<style>

    #re_dnd_div {
        width: 200px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

</style>


{% endblock headscript %}

<div class="tab-content" id="re-content">

    {% if res %}

    <div class="table-responsive">
        <table id="requirements_engineering_table" class="table table-striped table-hover table-condensed table-bordered">
            <thead>
            <tr>
                <th class="col-md-3"><strong>Date</strong></th>
                <th class="col-md-1"><strong>Staffs</strong></th>
                <th class="col-md-2"><strong>Active Projects</strong></th>
                <th class="col-md-2"><strong>Elicitation Analysis</strong></th>
                <th class="col-md-2"><strong>Avg Throughput</strong></th>
                <th class="col-md-2"><strong>Total Costs</strong></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>YTD Average</strong></td>
                    <td>{{ res_ytd.staffs.avg|floatformat:2 }}</td>
                    <td>{{ res_ytd.active_projects.avg|floatformat:2 }}</td>
                    <td>{{ res_ytd.elicitation_analysis_time.avg|floatformat:2 }}</td>
                    <td>{{ res_ytd.avg_throughput.avg|floatformat:2 }}</td>
                    <td>{{ res_ytd.total_operational_cost.avg|prepend_dollars }}</td>
                </tr>
                <tr>
                    <td><strong>YTD Totals</strong></td>
                    <td>{{ res_ytd.staffs.total }}</td>
                    <td>{{ res_ytd.active_projects.total }}</td>
                    <td>{{ res_ytd.elicitation_analysis_time.total }}</td>
                    <td>{{ res_ytd.avg_throughput.total }}</td>
                    <td>{{ res_ytd.total_operational_cost.total|prepend_dollars }}</td>
                </tr>
                {% for item in res %}
                    <tr>
                        <td><a href="{% url 'teams:metric_detail' item.id %}?key={{ item.functional_group.key }}">{{ item.created|date:'Y-m-d' }}</a></td>
                        <td draggable="true" ondragstart="drag(event)">{{ item.staffs }}</td>
                        <td draggable="true" ondragstart="drag(event)">{{ item.active_projects }}</td>
                        <td draggable="true" ondragstart="drag(event)">{{ item.elicitation_analysis_time }}</td>
                        <td draggable="true" ondragstart="drag(event)">{{ item.avg_throughput }}</td>
                        <td draggable="true" ondragstart="drag(event)">{{ item.total_operational_cost|prepend_dollars }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <section>
            <div id="re_dnd_div" class="dnd_button_div" ondrop="drop(event)" ondragover="allow_drop(event)">
                Drag a Table Cell Here
            </div>
        </section>
    </div>

    <br>

    <div class="container west_container">
        <section>
            <div class="dataTables_wrapper no-footer table-responsive">
                <div class="dataTables_scroll">
                    <table class="chart_table">
                        <tr id="re_chart_row"></tr>
                    </table>
                </div>
            </div>
        </section>
    </div>

    {% else %}
        No Contents
    {% endif %}

</div>


{% block endscript %}

<script type="text/javascript">

    var requirements_engineering_next_chart_id = 0;
    var requirements_engineering_dnd_charts_list = [];
    var requirements_engineering_all_column_names_list = [];


    (function () {

        $(document).ready(function () {
            add_id_to_teams_table("requirements_engineering_table");
            build_column_names_list_teams("requirements_engineering_table", requirements_engineering_all_column_names_list);
        });

    })(jQuery);

</script>

{% endblock %}
