<!-- Collect Data from Personal to Team Modal -->
<div class="modal fade newProject" id="collect-data-modal">
    <div class="modal-dialog">
        <form action="{% url 'teams:collect_data' %}?metric_id={{ metric.id }}&key={{ metric.functional_group.abbreviation }}&date={{ metric.created|date:'Y-m-d' }}&subteam={{ metric.subteam.id }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="modal-title">{{ metric.functional_group.name }} - {{ metric.created|date }} </h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" id="collect-data-body" style="overflow: auto;"></div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="collectDataErrMessage">&nbsp;</div>
                        </div>
                    </div>
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="collect_data_submit" class="btn btn-primary" type="submit" value="Collect Data">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>