{% extends 'core/base.html' %}

{% block title %} Teams {% endblock %}

{% block subnav %}
    <br><br>
    <div class="container">
        {% if user.is_superuser %}
            <div class="row" style="margin-bottom:10px;">
                <div class="col-xs-2">
                    <small>
                        <a href="{% url 'teams:weekly_metric_new_manually' %}" ><i class="fa fa-pencil fa-fw"></i> New Weekly Team Metric</a>
                    </small>
                </div>
                <div class="col-xs-2">
                    {% if user.username == 'sliu' %}
                        <small>
                            <a  href="{% url 'teams:send_email' %}"><i class="fa fa-envelope-o fa-fw"></i> Send Email</a>
                        </small>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <ul id="subnav-tabs" class="nav nav-tabs">
            {% if user.is_superuser %}
                <li><a href="#product_quality" data-toggle="tab">Product Quality</a> </li>
                <li><a href="#quality_assurance" data-toggle="tab">Quality Assurance</a> </li>
                <li><a href="#quality_innovation" data-toggle="tab">Quality Innovation</a> </li>
                <li><a href="#requirements_engineering" data-toggle="tab">Requirements Engineering</a> </li>
                <li><a href="#test_engineering" data-toggle="tab">Test Engineering</a> </li>
                <li><a href="#test_lab" data-toggle="tab">Test Lab</a> </li>
            {% elif user.humanresource.manager  %}
                {% if user.humanresource.functional_group.key == 'PQ' %}
                    <li><a href="#product_quality" data-toggle="tab">Product Quality</a> </li>
                {% elif user.humanresource.functional_group.key == 'QA' %}
                    <li><a href="#quality_assurance" data-toggle="tab">Quality Assurance</a> </li>
                {% elif user.humanresource.functional_group.key == 'QI' %}
                    <li><a href="#quality_innovation" data-toggle="tab">Quality Innovation</a> </li>
                {% elif user.humanresource.functional_group.key == 'RE' %}
                    <li><a href="#requirements_engineering" data-toggle="tab">Requirements Engineering</a> </li>
                {% elif user.humanresource.functional_group.key == 'TE' %}
                    <li><a href="#test_engineering" data-toggle="tab">Test Engineering</a> </li>
                {% elif user.humanresource.functional_group.key == 'TL' %}
                    <li><a href="#test_lab" data-toggle="tab">Test Lab</a> </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container">


        <div class="tab-content">
            <div class="tab-pane" id="product_quality">
                {% include 'teams/product_quality.html' %}
            </div>

            <div class="tab-pane" id="quality_assurance">
                {% include 'teams/quality_assurance.html' %}
            </div>

            <div class="tab-pane" id="quality_innovation">
                {% include 'teams/quality_innovation.html' %}
            </div>

            <div class="tab-pane" id="requirements_engineering">
                {% include 'teams/requirements_engineering.html' %}
            </div>

            <div class="tab-pane" id="test_engineering">
                {% include 'teams/test_engineering.html' %}
            </div>

            <div class="tab-pane" id="test_lab">
                {% include 'teams/test_lab.html' %}
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        {% include 'teams/teams.js' %}
    </script>
{% endblock %}