<div class="tab-content" id="te-content">

    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <td class="col-md-3"><strong>Date</strong></td>
                    <td class="col-md-1"><strong>Staffs</strong></td>
                    <td class="col-md-2"><strong>Active Projects</strong></td>
                    <td class="col-md-2"><strong>Active Tickets</strong></td>
                    <td class="col-md-2"><strong>Avg Throughput</strong></td>
                    <td class="col-md-2"><strong>Total Costs</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for item in tes %}
                    <tr>
                        <td><a href="{% url 'teams:metric_detail' item.id %}?key={{ item.functional_group.key }}">{{ item.created|date }}</a></td>
                        <td>{{ item.staffs }}</td>
                        <td>{{ item.active_projects }}</td>
                        <td>{{ item.active_tickets }}</td>
                        <td>{{ item.avg_throughput }}</td>
                        <td>{{ item.total_operational_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

