{% extends 'core/base.html' %}

{% block title %} Automation Detail {% endblock %}

{% block body %}
    <div class="container">
        <legend>Automation Tests</legend>
        <div class="row">
            <form action="{% url 'automations:automation_edit' automation.id %}?type={% if automation.human_resource %}personal{% else %}team{% endif %}" method="post" enctype="multipart/form-data">
                <div class="col-xs-6">
                    {{ form }}
                    {% csrf_token %}
                    <br>
                    <input id="automation_edit" class="btn btn-primary" type="submit" value="Save Automation">
                    <a href="{% url 'automations:automations' %}" class="btn btn-default">Cancel</a>
                </div>

                <div class="col-xs-6">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <label for="testDatePicker">Test Date:</label>
                            <input type="text" id="testDatePicker" name="testDatePicker">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <label for="script-content">Main function: run_script(date=None, username=None), Called function: Global</label>
                            <textarea class="form-control" id="script-content" name="script-content" rows="20" {% if not request.user.username == 'sliu' %}readonly{% endif %}>{{ script_content }}</textarea>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-2">
                            <button type="button" id="run-script" name="run-script" class="btn btn-primary">Run Script</button>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-9">
                            <label for="run-script-result">Result:</label>
                            <input type="text" id="run-script-result" name="run-script-result" value="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $('#run-script').click(function () {
            var test_date = $('#testDatePicker').val();
            $.getJSON("{% url 'automations:script_test' %}?automation_id={0}&test_date={1}".format({{ automation.id }}, test_date)).done(function(data){
                $('#run-script-result').val(data['result'])
            })
        });

        var today = moment();
        $('#testDatePicker').datepicker({
            beforeShowDay: function(date){
                return [date.getDay() == 5];
            },
            dateFormat: 'yy-mm-dd'
        });
        $('#testDatePicker').val(today.format('YYYY-MM-DD'));


    </script>
{% endblock %}