{% extends 'core/base.html' %}

{% block title %} Automation Detail {% endblock %}

{% block body %}
    <div class="container">
        <legend>Automation Tests</legend>
        <div class="row">
            <div class="col-xs-6">
                <label for="functional_group">Functional Group:</label>
                <input class="form-control" id="functional_group" name="functional_group" type="text" value="{{ automation.functional_group.name }}" readonly>
                <label for="column_field">Column Field:</label>
                <input class="form-control" id="column_field" name="column_field" type="text" value="{{ automation.column_field }}" readonly>
                <label for="script_name">Script Name:</label>
                <input class="form-control" id="script_name" name="script_name" type="text" value="{{ automation.script_name }}" readonly>


            </div>
            <div class="col-xs-6">
                <label for="script-content">Script Content:</label>
                <textarea class="form-control" id="script-content" name="script-content" rows="8" ></textarea>
            </div>
        </div>
    </div>
{% endblock %}