{% extends 'core/base.html' %}

{% block title %} Automation Detail {% endblock %}

{% block body %}
    <div class="container">
        <legend>Automation Tests</legend>
        <div class="row">
            <div class="col-xs-6">
                <form action="{% url 'automations:automation_edit' automation.id %}" method="post" enctype="multipart/form-data">
                    {{ form }}
                    {% csrf_token %}
                    <br>
                    <input id="automation_edit" class="btn btn-primary" type="submit" value="Save Automation">
                    <a href="{% url 'automations:automations' %}" class="btn btn-default">Cancel</a>

                </form>
{#                <label for="functional_group">Functional Group:</label>#}
{#                <input class="form-control" id="functional_group" name="functional_group" type="text" value="{{ automation.functional_group.name }}" readonly>#}
{#                <label for="column_field">Column Field:</label>#}
{#                <input class="form-control" id="column_field" name="column_field" type="text" value="{{ automation.column_field }}" readonly>#}
{#                <label for="script_name">Script Name:</label>#}
{#                <input class="form-control" id="script_name" name="script_name" type="text" value="{{ automation.script_name }}" readonly>#}


            </div>
            <div class="col-xs-6">
                <label for="script-content">Script Content:</label>
                <textarea class="form-control" id="script-content" name="script-content" rows="20" >
                    {% if automation.script_file %}
                        {{ automation.script_file.read }}
                    {% endif %}
                </textarea>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>

    </script>
{% endblock %}