{% extends 'core/base.html' %}

{% block title %} Projects {% endblock %}

{% block subnav %}
    <div class="container" style="margin-top: 10px;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                <small>
                    <i class="fa fa-pencil fa-fw"></i> Create
                    <a href="#" data-toggle="modal" data-target="#project-new-modal"> New Project </a> |
                    <a href="#" data-toggle="modal" data-target="#phase-new-modal"> New Project Phase </a> |
                    <a href="#" data-toggle="modal" data-target="#ticket-new-modal"> New Ticket </a>
                </small>
            </div>
        </div>

        <ul id="subnav-tabs" class="nav nav-tabs">
            {% for group in groups %}
                <li{% if group.group == user.humanresource.functional_group %} class="active"{% endif %}>
                    <a href="#{{ group.group.abbreviation }}" data-toggle="tab">{{ group.group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="tab-content">
            {% for group in groups %}
                <div class="tab-pane{% if user.humanresource.functional_group == group.group %} active{% endif %}" id="{{ group.group.abbreviation }}">
                    <ul id="subnav-pills" class="nav nav-pills">
                        <li class="active"><a href="#{{ group.group.abbreviation }}-all" data-toggle="pill">All</a></li>
{#                        {% for subteam in group.group.subteam_set.all %}#}
                        {% for subteam in group.subteams %}
                            <li><a href="#{{ group.group.abbreviation }}_{{ subteam.team.name|slugify }}" data-toggle="pill">{{ subteam.team.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="{{ group.group.abbreviation }}-all">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h1>Projects</h1>
                                    {% if group.projects %}
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                {% regroup group.projects by project as project_list %}
                                                {% for project in project_list %}
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">
                                                            <a data-toggle="collapse" href="#collapse_{{group.group.abbreviation}}_{{ project.grouper.name|slugify }}">{{ project.grouper.name }}</a>
                                                            <a href="#editProject" data-toggle="modal"
                                                               data-project-id="{{ project.grouper.id }}"
                                                               data-project-name="{{ project.grouper.name }}"
                                                               data-project-revenue="{{ project.grouper.revenue_scale }}"
                                                               class="project_edit">
                                                                <i class="fa fa-edit fa-fw"></i>
                                                            </a>
                                                        </h6>
                                                    </div>
                                                    <div id="collapse_{{group.group.abbreviation}}_{{ project.grouper.name|slugify }}" class="panel-collapse collapse">
                                                        <ul class="list-group">
                                                            {% for phase in project.list %}
                                                                <li class="list-group-item">
                                                                    <a href="#editPhase" data-toggle="modal"
                                                                       data-phase-id="{{ phase.id }}"
                                                                       data-phase-project="{{ phase.project.id }}"
                                                                       data-phase-subteam="{{ phase.subteam.id }}"
                                                                       data-phase-lead="{{ phase.lead.id }}"
                                                                       data-phase-name="{{ phase.name }}"
                                                                       data-phase-key="{{ phase.key }}"
                                                                       data-phase-estimate-start="{{ phase.estimate_start|date:'m/d/Y' }}"
                                                                       data-phase-estimate-end="{{ phase.estimate_end|date:'m/d/Y' }}"
                                                                       data-phase-actual-start="{{ phase.actual_start|date:'m/d/Y' }}"
                                                                       data-phase-actual-end="{{ phase.actual_end|date:'m/d/Y' }}"
                                                                        >
                                                                        {{ phase.name }}
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        No Projects
                                    {% endif %}
                                </div>

                                <div class="col-xs-6">
                                    <h1>Tickets</h1>
                                    {% if group.tickets %}
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-2">Key</th>
                                                        <th class="col-xs-2">Lead</th>
                                                        <th class="col-xs-2">Team</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in group.tickets %}
                                                        <tr>
                                                            <td><a href="#editTicket" data-toggle="modal"
                                                                   data-ticket-id="{{ item.id }}"
                                                                   data-ticket-subteam="{{ item.subteam.id }}"
                                                                   data-ticket-revenue="{{ item.revenue_scale }}"
                                                                   data-ticket-lead="{{ item.lead.id }}"
                                                                   data-ticket-key="{{ item.key }}"
                                                                   data-ticket-estimate-start="{{ item.estimate_start|date:'m/d/Y' }}"
                                                                   data-ticket-estimate-end="{{ item.estimate_end|date:'m/d/Y' }}"
                                                                   data-ticket-actual-start="{{ item.actual_start|date:'m/d/Y' }}"
                                                                   data-ticket-actual-end="{{ item.actual_end|date:'m/d/Y' }}"
                                                                    >
                                                                {{ item.key }}</a>
                                                            </td>
                                                            <td>{{ item.lead.user.first_name }} {{ item.lead.user.last_name }}</td>
                                                            <td>{{ item.subteam }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        No Tickets
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% for subteam in group.subteams %}
                            <div class="tab-pane" id="{{ group.group.abbreviation }}_{{ subteam.team.name|slugify }}">
                                <div class="row">
                                    <div id="{{ group.group.abbreviation }}_{{ subteam.team.name|slugify }}_gantt">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h1>Projects</h1>
                                        {% if subteam.phases %}
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    {% regroup subteam.phases by project as project_list %}
                                                    {% for project in project_list %}
                                                        <div class="panel-heading">
                                                            <h6 class="panel-title">
                                                                <a data-toggle="collapse" href="#collapse_{{group.group.abbreviation}}_{{ subteam.team.name|slugify }}_{{ project.grouper.name|slugify }}">{{ project.grouper.name }}</a>
                                                                <a href="#editProject" data-toggle="modal"
                                                                   data-project-id="{{ project.grouper.id }}"
                                                                   data-project-name="{{ project.grouper.name }}"
                                                                   data-project-revenue="{{ project.grouper.revenue_scale }}"
                                                                   class="project_edit">
                                                                    <i class="fa fa-edit fa-fw"></i>
                                                                </a>
                                                            </h6>
                                                        </div>

                                                        <div id="collapse_{{group.group.abbreviation}}_{{ subteam.team.name|slugify }}_{{ project.grouper.name|slugify }}" class="panel-collapse collapse">
                                                            <ul class="list-group">
                                                                {% for phase in project.list %}
                                                                    <li class="list-group-item">
                                                                        <a href="#editPhase" data-toggle="modal"
                                                                           data-phase-id="{{ phase.id }}"
                                                                           data-phase-project="{{ phase.project.id }}"
                                                                           data-phase-subteam="{{ phase.subteam.id }}"
                                                                           data-phase-lead="{{ phase.lead.id }}"
                                                                           data-phase-name="{{ phase.name }}"
                                                                           data-phase-key="{{ phase.key }}"
                                                                           data-phase-estimate-start="{{ phase.estimate_start|date:'m/d/Y' }}"
                                                                           data-phase-estimate-end="{{ phase.estimate_end|date:'m/d/Y' }}"
                                                                           data-phase-actual-start="{{ phase.actual_start|date:'m/d/Y' }}"
                                                                           data-phase-actual-end="{{ phase.actual_end|date:'m/d/Y' }}"
                                                                            >
                                                                            {{ phase.name }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>

                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            No Projects
                                        {% endif %}
                                    </div>

                                    <div class="col-xs-6">
                                        <h1>Tickets</h1>
                                        {% if subteam.tickets %}
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover table-condensed table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-2">Key</th>
                                                        <th class="col-xs-2">Lead</th>
                                                        <th class="col-xs-2">Team</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in subteam.tickets %}
                                                        <tr>
                                                            <td><a href="#editTicket" data-toggle="modal"
                                                                   data-ticket-id="{{ item.id }}"
                                                                   data-ticket-subteam="{{ item.subteam.id }}"
                                                                   data-ticket-revenue="{{ item.revenue_scale }}"
                                                                   data-ticket-lead="{{ item.lead.id }}"
                                                                   data-ticket-key="{{ item.key }}"
                                                                   data-ticket-estimate-start="{{ item.estimate_start|date:'m/d/Y' }}"
                                                                   data-ticket-estimate-end="{{ item.estimate_end|date:'m/d/Y' }}"
                                                                   data-ticket-actual-start="{{ item.actual_start|date:'m/d/Y' }}"
                                                                   data-ticket-actual-end="{{ item.actual_end|date:'m/d/Y' }}"
                                                                    >
                                                                {{ item.key }}</a>
                                                            </td>
                                                            <td>{{ item.lead.user.first_name }} {{ item.lead.user.last_name }}</td>
                                                            <td>{{ item.subteam }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        No Tickets
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

    {% include 'projects/projects_modal.html' %}

    </div>
{% endblock %}



{% block footer %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $("div.panel").has("ul.list-group:empty").hide();
        {% include 'projects/projects.js' %}

        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% for subteam in subteams %}
                var {{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_data = new google.visualization.DataTable();
                add_column_to_data({{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_data);

                var data = [];
                {% for item in subteam.gantt_phases %}
                    if ('{{ item.start }}' != 'None' && '{{ item.end }}' != 'None') {
                        data.push(['{{ item.id }}', '{{ item.name }}', '{{ item.resource }}', new Date('{{ item.start }}'), new Date('{{ item.end }}'), null, null, null]);
                    }
                {% endfor %}

                //console.log(data);
                if (data.length > 0) {
                    {{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_data.addRows(data);
                } else {
                    {{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_data.addRows(gantt_row_data);
                }
            {% endfor %}

            var options = {
                //height: 275,
                width: 800,
            };

            {% for subteam in subteams %}
                var {{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_chart = new google.visualization.Gantt(document.getElementById('{{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_gantt'));
                {{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_chart.draw({{ subteam.parent.abbreviation }}_{{ subteam.name|slugify }}_data, options);
            {% endfor %}

        }
    </script>

{% endblock %}