<!-- Project New Modal -->
<div class="modal fade" id="project-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'projects:project_new' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title">Project New</h4>
                </div>
                <div class="modal-body">
                    {{ project_new_form }}
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="project_new" class="btn btn-primary" type="submit" value="New Project">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Project Edit Modal -->
<div class="modal fade" id="editProject">
    <div class="modal-dialog">
        <form method="post" action="{% url 'projects:project_edit' %}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Project Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editProjectName">Name:</label>
                            <input type="text" class="form-control input-sm" name="editProjectName" id="editProjectName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <input type="hidden" name="editProjectId">
                        </div>
                        <div class="col-xs-10">
                            <div id="editProjectErrMessage"></div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary param-save">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- ProjectPhase New Modal -->
<div class="modal fade" id="phase-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'projects:project_phase_new' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title">Project Phase New</h4>
                </div>
                <div class="modal-body">
                    {{ project_phase_new_form }}
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="project_phase_new" class="btn btn-primary" type="submit" value="New Project Phase">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Phase Edit Modal -->
<div class="modal fade" id="editPhase">
    <div class="modal-dialog">
        <form method="post" action="{% url 'projects:project_phase_edit' %}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Project Phase Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="">Project:</label>
                            <select id="editPhaseProject" name="editPhaseProject" class="form-control">
                                {% for project in projects %}
                                    <option value="{{ project.id }}">{{ project }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editPhaseFunctionalGroup">Functional Group:</label>
                            <select id="editPhaseFunctionalGroup" name="editPhaseFunctionalGroup" class="form-control">
                                {% for function_group in function_groups %}
                                    <option value="{{ function_group.id }}">{{ function_group.name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editPhaseLead">Lead:</label>
                            <select id="editPhaseLead" name="editPhaseLead" class="form-control">
                                {% for lead in leads %}
                                    <option value="{{ lead.id }}">{{ lead.user.first_name }} {{ lead.user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editPhaseName">Name:</label>
                            <input type="text" class="form-control input-sm" name="editPhaseName" id="editPhaseName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editPhaseKey">Key:</label>
                            <input type="text" class="form-control input-sm" name="editPhaseKey" id="editPhaseKey">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <input type="hidden" name="editPhaseId">
                        </div>
                        <div class="col-xs-10">
                            <div id="editPhaseErrMessage"></div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary param-save">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Ticket New Modal -->
<div class="modal fade" id="ticket-new-modal">
    <div class="modal-dialog">
        <form action="{% url 'projects:ticket_new' %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title">Ticket New</h4>
                </div>
                <div class="modal-body">
                    {{ ticket_new_form }}
                    {% csrf_token %}
                </div>
                <div class="modal-footer">
                    <input id="ticket_new" class="btn btn-primary" type="submit" value="New Ticket">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Ticket Edit Modal -->
<div class="modal fade" id="editTicket">
    <div class="modal-dialog">
        <form method="post" action="{% url 'projects:ticket_edit' %}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ticket Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editTicketFunctionalGroup">Functional Group:</label>
                            <select id="editTicketFunctionalGroup" name="editTicketFunctionalGroup" class="form-control">
                                {% for function_group in function_groups %}
                                    <option value="{{ function_group.id }}">{{ function_group.name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editTicketLead">Lead:</label>
                            <select id="editTicketLead" name="editTicketLead" class="form-control">
                                {% for lead in leads %}
                                    <option value="{{ lead.id }}">{{ lead.user.first_name }} {{ lead.user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="editTicketKey">Key:</label>
                            <input type="text" class="form-control input-sm" name="editTicketKey" id="editTicketKey">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="editTicketEstimateStart">Estimate Start:</label>
                            <input type="text" class="form-control input-date" name="editTicketEstimateStart" id="editTicketEstimateStart">
                        </div>
                        <div class="col-xs-6">
                            <label for="editTicketEstimateEnd">Estimate End:</label>
                            <input type="text" class="form-control input-date" name="editTicketEstimateEnd" id="editTicketEstimateEnd">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="editTicketActualStart">Actual Start:</label>
                            <input type="text" class="form-control input-date" name="editTicketActualStart" id="editTicketActualStart">
                        </div>
                        <div class="col-xs-6">
                            <label for="editTicketActualEnd">Actual End:</label>
                            <input type="text" class="form-control input-date" name="editTicketActualEnd" id="editTicketActualEnd">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <input type="hidden" name="editTicketId">
                        </div>
                        <div class="col-xs-10">
                            <div id="editTicketErrMessage"></div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary param-save">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>