{% extends 'core/base.html' %}
{% load staticfiles %}
{% load team_extras %}

{% block title %} Home {% endblock %}

{% block extrahead %}

    <link rel="stylesheet" type="text/css" href="{% static 'jquery-data-tables/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-data-tables/css/jquery-ui.min.css' %}">


    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/syntax/shCore.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/js/demo.js' %}"></script>

    <style>

        .west_container {
            min-width: 60%;
        }

        .metrics_table th {
            white-space: nowrap;
            padding: 0.2em;
        }

        .metrics_table td {
            text-align: right;
            padding: 0.2em;
        }

        .td_show_hide_sub_table {
            width: 300px;
            height: 35px;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        .td_show_hide_table {
            border: 1px solid darkgray;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
            text-align:center;
        }

        .tr1_show_hide_table {
            border: 0px solid black;
            width: 200px;
            min-width: 190px;
            white-space: nowrap;
            text-align:center;
            height:35px;
        }

        .tr2_show_hide_table {
            border: 1px solid lightgray;
            width: 200px;
            min-width: 190px;
            white-space: nowrap;
            text-align:center;
        }

        .chart_td {
            border: 0px solid black;
            width:  400px;
            height: 400px;
        }

        .ui-dialog-titlebar {
            border: 0;
            padding: .5em 1em;
            background: darkgray;
            overflow: auto;
            zoom: 1;
        }

    </style>

{% endblock extrahead %}


{% block body %}

    <div class="container west_container">
        <h1>Score Card</h1>

        <ul id="subnav-tabs" class="nav nav-tabs">
            {% for group in groups %}
            <li><a href="#{{ group.abbreviation }}" data-toggle="tab">{{ group.name }}</a></li>
            {% endfor %}
        </ul>

        <form action="." method="POST">
            {% csrf_token %}

            <div class="tab-content">
                {% for group in groups %}
                <div class="tab-pane" id="{{ group.abbreviation }}">
                    <div class="dataTables_wrapper no-footer table-responsive">
                        <table class="display nowrap metrics_table">
                            <tr>
                                <th>Date</th>
                                {% for field in group.metric_fields %}
                                <th>{{ field.verbose_name | capfirst}}</th>
                                {% endfor %}
                            </tr>
                            {% for row in group.metrics_set %}
                                <td>{{ row.created | date:"m/d/y" }}</td>
                                {% for field in row.table_row %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>

    {% block endscript %}

        <script>
            {% include 'users/show_hide_columns.js' %}
        </script>

    {% endblock %}

{% endblock body %}
