{% extends 'core/base.html' %}
{% load staticfiles %}
{% load team_extras %}

{% block title %} Home {% endblock %}

{% block extrahead %}

    <link rel="stylesheet" type="text/css" href="{% static 'jquery-data-tables/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-data-tables/css/jquery-ui.min.css' %}">


    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/syntax/shCore.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/js/demo.js' %}"></script>

    <style>

        .west_container {
            min-width: 60%;
        }

        .td_show_hide_sub_table {
            width: 300px;
            height: 35px;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        .td_show_hide_table {
            border: 1px solid darkgray;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
            text-align:center;
        }

        .tr1_show_hide_table {
            border: 0px solid black;
            width: 200px;
            min-width: 190px;
            white-space: nowrap;
            text-align:center;
            height:35px;
        }

        .tr2_show_hide_table {
            border: 1px solid lightgray;
            width: 200px;
            min-width: 190px;
            white-space: nowrap;
            text-align:center;
        }

        .chart_td {
            border: 0px solid black;
            width:  400px;
            height: 400px;
        }

        .ui-dialog-titlebar {
            border: 0;
            padding: .5em 1em;
            background: darkgray;
            overflow: auto;
            zoom: 1;
        }

    </style>

{% endblock extrahead %}


{% block body %}

    <div class="container west_container">
        <h1>Score Card</h1>

        <div class="container" style="margin-top:5px;">

            <ul id="subnav-tabs" class="nav nav-tabs">
                <li><a href="#home_quality_assurance" data-toggle="tab">Quality Assurance</a></li>
                <li><a href="#home_quality_innovation" data-toggle="tab">Quality Innovation</a></li>
                <li><a href="#home_requirements_engineering" data-toggle="tab">Requirements Engineering</a></li>
                <li><a href="#home_test_engineering" data-toggle="tab">Test Engineering</a></li>
                <li><a href="#home_test_lab" data-toggle="tab">Test Lab</a></li>
            </ul>

        </div>

    </div>

    <form action="." method="POST">

        {% csrf_token %}

        <br>

            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane" id="home_quality_assurance">
                        {% include 'users/home_quality_assurance.html' %}
                    </div>

                    <div class="tab-pane" id="home_quality_innovation">
                        {% include 'users/home_quality_innovation.html' %}
                    </div>

                    <div class="tab-pane" id="home_requirements_engineering">
                        {% include 'users/home_requirements_engineering.html' %}
                    </div>

                    <div class="tab-pane" id="home_test_engineering">
                        {% include 'users/home_test_engineering.html' %}
                    </div>

                    <div class="tab-pane" id="home_test_lab">
                        {% include 'users/home_test_lab.html' %}
                    </div>

                </div>
            </div>

    </form>

    {% block endscript %}

        <script>
            {% include 'users/show_hide_columns.js' %}
        </script>

    {% endblock %}

{% endblock body %}
