{% load staticfiles %}
{% load team_extras %}

{% block headscript %}

    <style>

        #home_reh_dnd_div {
            width: 200px;
            height: 25px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

    </style>


{% endblock headscript %}

<div class="tab-content" id="re-content">
    {% include 'users/manager_chart_menu.html' %}

    <div class="container west_container">
        <section>
            <div class="dataTables_wrapper no-footer table-responsive">
                <div class="dataTables_scroll">
                    <table class="chart_table">
                        <tr id="reh_chart_row"></tr>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <br>

    <div class="container west_container" style="margin-top:-20px;">
        <section>
            <div class="dataTables_wrapper no-footer table-responsive">

                <div class="dataTables_scroll">

                    <table id="home_requirements_engineering_table" class="display nowrap metrics_table" cellspacing="0" style="width:100%;">
                        <thead class="metrics_thead">
                        <tr id="reh_th_r1">
                            <th class="col-md-3"><strong>Date</strong></th>
                            <th class="col-md-1"><strong>Staffs</strong></th>
                            <th class="col-md-2"><strong>Active Projects</strong></th>
                            <th class="col-md-2"><strong>Elicitation Analysis</strong></th>
                            <th class="col-md-2"><strong>Avg Throughput</strong></th>
                            <th class="col-md-2"><strong>Total Costs</strong></th>
                            <th class="col-md-2"><strong>Backlog</strong></th>
                            <th class="col-md-2"><strong>Team Initiative</strong></th>
                            <th class="col-md-2"><strong>Revisions</strong></th>
                            <th class="col-md-2"><strong>SLAS Missed</strong></th>
                            <th class="col-md-2"><strong>Rework External Time</strong></th>
                            <th class="col-md-2"><strong>Travel Costs</strong></th>
                            <th class="col-md-2"><strong>Gross Available Time</strong></th>
                            <th class="col-md-2"><strong>Efficiency</strong></th>
                            <th class="col-md-2"><strong>Rework External Costs</strong></th>
                        </tr>
                        </thead>
                        <tbody class="metrics_tbody">
                        {% for re in re_data %}
                            <tr>
                                <td>{{ re.created|date:'Y-m-d' }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.staffs }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.active_projects }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.elicitation_analysis_time }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.avg_throughput }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.total_operational_cost | prepend_dollars }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.backlog }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.team_initiative }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.revisions }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.slas_missed }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.rework_external_time }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.travel_cost | prepend_dollars }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.gross_available_time }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.efficiency|floatformat:2 }}</td>
                                <td draggable="true" ondragstart="drag(event)">{{ re.rework_external_cost }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>

    <div class="container west_container">

        <section>
            <div>
                <table class="td_show_hide_sub_table">
                    <tbody>
                    <tr class="tr1_show_hide_table">
                        <td>
                            <input id="reh_show_hide_dialog_button" type="button" value="Show/Hide Columns" onclick="on_click_show_hide_columns_dialog(event)">
                        </td>
                    </tr>
                    <tr class="tr2_show_hide_table">
                        <td id="home_reh_dnd_div" ondrop="drop(event)" ondragover="allow_drop(event)">
                                Drag a Table Cell Here
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>

    <br>

    <div id="reh_west_dialog" style="display:none;"></div>

</div>


{% block endscript %}

    <script type="text/javascript">

        var home_re_table_id = "home_requirements_engineering_table";

        // save the names of all of the columns in a table so I have the full list when I build the show/hide dialog
        var home_re_all_column_names_list = [];
        var home_re_hide_column_list = [];
        var home_re_hide_columns_json = '{{ re_user_hide_list | safe }}';

        // charts
        var home_re_next_chart_id = 0;
        var home_re_dnd_charts_list = [];


        (function () {

            $(document).ready(function () {

                if (jQuery().dataTable) {

                    build_column_names_list(home_re_table_id, home_re_all_column_names_list);
                    initialize_metrics_table(home_re_table_id, "reh");

                } else {
                    alert("JQuery datatables library is not loaded.");
                }

            });

        })(jQuery);

    </script>

{% endblock %}
