{% extends 'core/base.html' %}
{% load staticfiles %}
{% load team_extras %}

{% block title %} Home {% endblock %}

{% block extrahead %}

    <link rel="stylesheet" type="text/css" href="{% static 'jquery-data-tables/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-data-tables/css/jquery-ui.min.css' %}">


    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/syntax/shCore.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'jquery-data-tables/js/demo.js' %}"></script>

    <style>

        .west_container {
            min-width: 60%;
        }

        .metrics_table th {
            white-space: nowrap;
            padding: 0.2em;
        }

        .metrics_table td {
            text-align: right;
            padding: 0.2em;
        }

        .td_show_hide_sub_table {
            width: 300px;
            height: 35px;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        .td_show_hide_table {
            border: 1px solid darkgray;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
            text-align:center;
        }

        .tr1_show_hide_table {
            border: 0px solid black;
            width: 200px;
            min-width: 190px;
            white-space: nowrap;
            text-align:center;
            height:35px;
        }

        .tr2_show_hide_table {
            border: 1px solid lightgray;
            width: 200px;
            min-width: 190px;
            white-space: nowrap;
            text-align:center;
        }

        .chart_td {
            border: 0px solid black;
            width:  400px;
            height: 400px;
        }

        .ui-dialog-titlebar {
            border: 0;
            padding: .5em 1em;
            background: darkgray;
            overflow: auto;
            zoom: 1;
        }

    </style>
    <script>
            {% include 'users/show_hide_columns.js' %}
            $(function(){
                {% for group in groups %}
                    $("a[href='#{{ group.abbreviation }}']").on("shown.bs.tab", plot{{ group.abbreviation }})
                {% endfor %}
                {% if user.humanresource.functional_group %}
                    $("a[href='#{{ user.humanresource.functional_group.abbreviation }}']").click()
                {% endif %}
            })
            {% for group in groups %}
            function plot{{ group.abbreviation }}(event) {
                //var data = [["Jan 7", 0], ["Jan 14", 1], ["Jan 21", 0], ["Jan 28", 0], ["Feb 5", 1], ["Feb 12", 0], ["Feb 19", 1]]
                var data = [{% for week in group.quality_graph.data reversed %}["{{ week.date }}", {{ week.value }}], {% endfor %}]
                $.plot("#quality-chart-{{ group.abbreviation }}",
                [data],
                {
                    series: {
                        bars: {
                            show: true,
                            align: 'center',
                        }
                    },
                    colors: ['rgba(255,0,0,1)'],
                    xaxis: {
                        mode: "categories",
                        tickLength: 0
                    },
                    yaxis: {
                        tickSize: 5,
                        min: 0
                    }
                })
                //data = [[0, .53], [1, .97], [2, 1.35], [3, 1.03], [4, 0.96], [5, 0.89], [6, 0.81]]
                data = [{% for week in group.efficiency_graph.data reversed %}[{{ forloop.counter0 }}, {{ week.value }}], {% endfor %}]
                $.plot("#efficiency-chart-{{ group.abbreviation }}", [data], {
                    series: {
                        lines: {
                            show: true,
                        },
                        {% if group.efficiency_graph.thresholds %}{% with group.efficiency_graph.thresholds as thresholds %}
                        threshold: [
                            {
                                below: {{ thresholds.too_high }},
                                color: '#eba51f' //yellow-gold
                            }, {
                                below: {{ thresholds.upper_ideal }},
                                color: '#0d1' //green
                            }, {
                                below: {{ thresholds.lower_ideal }},
                                color: '#f22' //red
                            }
                        ]
                        {% endwith %}{% endif %}
                    },
                    xaxis: {
                        ticks: [{% for week in group.efficiency_graph.data reversed %}[{{ forloop.counter0 }}, "{{ week.date }}"], {% endfor %}]
                    },
                    yaxis: {
                        {% if not group.efficiency_graph.allow_negative %}min: 0{% endif %}
                    },
                    colors: ['#ff751f'],

                })
                data = [{% for week in group.throughput_graph.data reversed %}[{{ forloop.counter0 }}, {{ week.value }}], {% endfor %}]
                $.plot("#throughput-chart-{{ group.abbreviation }}", [data], {
                    lines: {show: true},
                    xaxis: {
                        ticks: [{% for week in group.throughput_graph.data reversed %}[{{ forloop.counter0 }}, "{{ week.date }}"], {% endfor %}]
                    },
                    yaxis: {
                        {% if not group.throughput_graph.allow_negative %}min: 0{% endif %}
                    },
                    colors: ['#1daff2'] //powder blue
                })
                $.plot("#progress-chart-{{ group.abbreviation }}",
                    [
                        {data: {{ group.progress_graph.data.negative.value }}, color: 'rgba(256,0,0,.9)', width: 6, label: "{{ group.progress_graph.data.negative.label }}"},
                        {data: {{ group.progress_graph.data.positive.value }}, color: 'rgba(5,5,220,.9)', stroke: {color:'rgba(5,5,220,1)', width: 5}, label: "{{ group.progress_graph.data.positive.label }}"}
                    ],
                    {
                        series: {
                            pie: {
                                show: true,
                                stroke: {width: 2}
                        }
                            },
                        legend: {show: false}
                    })
            }

            {% endfor %}
        </script>
{% endblock extrahead %}


{% block body %}

    <div class="container west_container">
        <ul id="subnav-tabs" class="nav nav-tabs">
            {% for group in groups %}
            <li><a href="#{{ group.abbreviation }}" data-toggle="tab">{{ group.name }}</a></li>
            {% endfor %}
        </ul>

        <form action="." method="POST">
            {% csrf_token %}
            <div class="tab-content">
                {% for group in groups %}
                <div class="tab-pane" id="{{ group.abbreviation }}">
                    <br>
                    <div class="title-wrapper" style="width:520px;float:left">
                        <h2>{{ group.quality_graph.title }}</h2>
                        <div id="quality-chart-{{ group.abbreviation }}" style="height:260px;width:520px;"></div>
                    </div>
                    <div class="title-wrapper" style="width:520px;float:left">
                        <h2>{{ group.efficiency_graph.title }}</h2>
                        <div id="efficiency-chart-{{ group.abbreviation }}" style="height:260px;width:520px;"></div>
                    </div>
                    <div class="title-wrapper" style="width:520px;float:left">
                        <h2>{{ group.throughput_graph.title }}</h2>
                        <div id="throughput-chart-{{ group.abbreviation }}" style="height:260px;width:520px;"></div>
                    </div>
                    <div class="title-wrapper" style="width:520px;float:left">
                        <h2>{{ group.progress_graph.title }}</h2>
                        <div id="progress-chart-{{ group.abbreviation }}" style="height:260px;width:520px;"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock body %}